﻿@page "/buy/{id}/edit"

<h4>Renting proposal</h4>
<hr />
<form>
    <div class="form-row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Property.Id" class="control-label">Location</label>
                <input asp-for="Property.Location" class="form-control" />
                <span asp-validation-for="Property.Id" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Property.Id" class="control-label">Adress</label>
                <input asp-for="Property.Location" class="form-control" />
                <span asp-validation-for="Property.Id" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Property.Id" class="control-label">Postal code</label>
                <input asp-for="Property.Location" class="form-control" />
                <span asp-validation-for="Property.Id" class="text-danger"></span>
            </div>
        </div>
    </div>
    <hr />
    <div class="form-row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Property.Adress" class="control-label">Type of property</label>
                <input asp-for="Property.Adress" class="form-control" />
                <span asp-validation-for="Property.Type" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Property.Adress" class="control-label">Size of property</label>
                <input asp-for="Property.Adress" class="form-control" />
                <span asp-validation-for="Property.Type" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Property.Adress" class="control-label">Price of property</label>
                <input asp-for="Property.Adress" class="form-control" />
                <span asp-validation-for="Property.Type" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Property.Adress" class="control-label">Bedrooms</label>
                <input asp-for="Property.Adress" class="form-control" />
                <span asp-validation-for="Property.Type" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Property.Adress" class="control-label">Bathrooms</label>
                <input asp-for="Property.Adress" class="form-control" />
                <span asp-validation-for="Property.Type" class="text-danger"></span>
            </div>
        </div>
    </div>
    <hr />
    <div class="form-row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Property.Adress" class="control-label">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                <span asp-validation-for="Property.Type" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-4">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
        </div>
    </div>


    <!--div class="form-row">
        <div class="form-group">
            <label asp-for="Property.Adress" class="control-label">Status of property</label>
            <input asp-for="Property.Adress" class="form-control" />
            <span asp-validation-for="Property.Type" class="text-danger"></span>
        </div>
    </div-->

    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <!--
    <InputFile id="uploadFiles" multiple OnChange="HandleFileSelected" />
    @if (selectedFiles != null)
    {
        foreach (var file in selectedFiles)
        {
            var isLoading = file.Data.Position > 0;
            <div class="file-row">
                
                <div>
                    <h2>@file.Name</h2>
                    Size: <strong>@file.Size bytes</strong>;
                    Last modified: <strong>@file.LastModified.ToShortDateString()</strong>;
                    Type: <strong>@file.Type</strong>
                    Relative Path: <strong>@file.RelativePath</strong>
                </div>
                
                <button @onclick="() => LoadFile(file)" disabled="@isLoading">
                    @if (!isLoading)
                    {
                        <span>Load</span>
                    }
                    else
                    {
                        <span>Loaded @((100.0 * file.Data.Position / file.Size).ToString("0"))%</span>
                    }
                </button>
            </div>
        }
    }-->
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@code {
    /*IFileListEntry[] selectedFiles;

    void HandleFileSelected(IFileListEntry[] files)
    {
        selectedFiles = files;
    }

    void LoadFile(IFileListEntry file)
    {
        // So the UI updates to show progress
        file.OnDataRead += (sender, eventArgs) => InvokeAsync(StateHasChanged);

        // Just load into .NET memory to show it can be done
        // Alternatively it could be saved to disk, or parsed in memory, or similar
        // var ms = new MemoryStream();
        // await file.Data.CopyToAsync(ms);
    }*/
}
