﻿@page "/"
@namespace Vone.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Vone Plus</title>
	<base href="~/" />

	<!--link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" /-->
	<!--link href="_content/Blazored.Typeahead/blazored-typeahead.css" rel="stylesheet" /-->
	<!-- dashboard tag 2-->
	<!--link href="http://127.0.0.1/styles/styles.css" rel="stylesheet" /-->
	<!-- /properties -->
	<link rel="stylesheet" href="https://q-cf.bstatic.com/static/css/city_cloudfront.iq_ltr/0724836c8ce6ba98532097ca8937db54969223c3.css" />
	<!-- CSS Front Bundle new frontend add-->
	<!--link rel="stylesheet" href="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/dist/all.min.css" /-->
	<!-- tiny -->
	<!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css"-->

<link rel="shortcut icon" href="/favicon.png"><link href="/css/main.css" rel="stylesheet"></head>

<body>
  <app>
	<component type="typeof(App)" render-mode="ServerPrerendered" />
  </app>

  <div id="blazor-error-ui">
	<environment include="Staging,Production">
		An error has occurred. This application may no longer respond until reloaded.
	</environment>
	<environment include="Development">
		An unhandled exception has occurred. See browser dev tools for details.
	</environment>
		<a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
  </div>

   <script src="https://js.stripe.com/v3/"></script>
   <script src="_framework/blazor.server.js"></script>
   <script src="~/weblib.polyfills.min.js"></script>
   <!--script src="https://www.paypalobjects.com/api/checkout.js"></script-->
<script src="/js/main.bd18d0ee646d3aed934f.bundle.js"></script></body>

</html>