﻿@page "/counter"

        <!-- ========== HEADER ========== -->
        
        <!-- ========== END HEADER ========== -->
        <!-- ========== MAIN CONTENT ========== -->
        <main class="container-fluid space-top-3 space-top-md-2 pl-lg-7 pr-xl-7">
            <div class="row justify-content-lg-end">
                <!-- Sidebar -->
                <nav class="col-lg-3 col-xl-2 hs-sidebar navbar-expand-lg px-0 ml-xl-7">
                    <div class="d-flex d-lg-none justify-content-between mb-3">
                        <!-- Sidebar Search -->
                        <form class="col form-inline input-group-sm">
                            <input class="js-hs-docs-search form-control form-control-sm w-100" type="text" placeholder="Search..." data-url="assets/ajax/autocomplete-data-for-documentation-search.json">
                        </form>
                        <!-- End Sidebar Search -->
                        <!-- Responsive Toggle Button -->
                        <button class="btn btn-link pl-0" type="button" data-toggle="collapse" data-target="#sidebar-nav" aria-controls="sidebar-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30" focusable="false">
                                <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22" />
                            </svg>
                        </button>
                        <!-- End Responsive Toggle Button -->
                    </div>

                    <!-- Sidebar Nav -->
                    <div class="collapse navbar-collapse" id="sidebar-nav">
                        <div id="sidebarNav" class="hs-sidebar-scrollbar hs-sidebar-sticky pl-2 pl-md-0 pr-2">
                            <span class="hs-sidebar-heading">Getting started</span>
                            <ul class="hs-sidebar-nav">
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="index.html">Introduction</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link active" href="gulp.html">Gulp</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="customization.html">Customization</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="credits.html">Credits</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="changelog.html">Changelog</a></li>
                            </ul>

                            <span class="hs-sidebar-heading">Content</span>
                            <ul class="hs-sidebar-nav">
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="typography.html">Typography</a></li>
                                <li class="hs-sidebar-item">
                                    <span class="hs-sidebar-link">Icons:</span>
                                    <ul class="hs-sidebar-nav ml-2">
                                        <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="exclusive-svg.html">Exclusive SVG set</a></li>
                                        <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="font-awesome.html">Font Awesome</a></li>
                                    </ul>
                                </li>
                            </ul>

                            <span class="hs-sidebar-heading">Components</span>
                            <ul class="hs-sidebar-nav">
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="alerts.html">Alerts</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="avatars.html">Avatars</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="badge.html">Badge</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="breadcrumb.html">Breadcrumb</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="buttons.html">Buttons</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="cards.html">Cards</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="collapse.html">Collapse</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="devices.html">Devices</a></li>
                                <li class="hs-sidebar-item">
                                    <span class="hs-sidebar-link">Dividers:</span>
                                    <ul class="hs-sidebar-nav ml-2 mb-0">
                                        <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="css-divider.html">CSS divider</a></li>
                                        <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="svg-divider.html">SVG divider</a></li>
                                    </ul>
                                </li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="forms.html">Forms</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="legend-indicator.html">Legend indicator</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="list-group.html">List group</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="modal.html">Modal</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="navbar.html">Navbar</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="navs.html">Navs</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="pagination.html">Pagination</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="popovers.html">Popovers</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="progress.html">Progress</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="spinners.html">Spinners</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="step.html">Step</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="sticky-footer.html">Sticky footer</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="tabs.html">Tabs</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="tables.html">Tables</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="text-highlight.html">Text Highlight</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="tooltips.html">Tooltips</a></li>
                            </ul>

                            <span class="hs-sidebar-heading">Utilities</span>
                            <ul class="hs-sidebar-nav">
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="borders.html">Borders</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="colors.html">Colors</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="content-alignments.html">Content alignments (with position)</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="links.html">Links</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="positions.html">Positions</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="shadows.html">Shadows</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="sizing.html">Sizing</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="spacings.html">Spacings</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="text.html">Text</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="transforms.html">Transforms</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="transitions.html">Transitions</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="others.html">Others</a></li>
                            </ul>

                            <span class="hs-sidebar-heading">HS Libraries</span>
                            <ul class="hs-sidebar-nav">
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="add-field.html">Add field</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="unfold.html">Unfold (Dropdown and others)</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="headers.html">Headers</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="header-mega-menu.html">Header mega menu</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="header-fullscreen.html">Header fullscreen</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="header-searches.html">Header searches</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="counters.html">Counters</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="file-attach.html">File attach</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="go-to.html">Go-to</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="page-preloader.html">Page preloader</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="progress-animation.html">Progress animation</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="quantity-counter.html">Quantity counter</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="scroll-nav.html">Scroll nav</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="show-animation.html">Show animation</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="step-form.html">Step form (Wizards)</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="sticky-block.html">Sticky block</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="toggle-state.html">Toggle state</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="toggle-switch.html">Toggle switch</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="switch.html">Switch</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="video-bg.html">Video background</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="video-player.html">Video player</a></li>
                            </ul>

                            <span class="hs-sidebar-heading">Other Libraries</span>
                            <ul class="hs-sidebar-nav">
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="aos.html">Aos (Animate on scroll)</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="chartjs.html">Chartjs</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="circles.html">Circles (Pie chart)</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="clipboard.html">Clipboard</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="countdown.html">Countdown</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="cubeportfolio.html">Cubeportfolio</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="dropzone.html">Dropzone (Drag n' drop file uploader)</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="fancybox.html">Fancybox</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="range-slider.html">Range slider</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="quill.html">Quill</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="select2.html">Select2</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="input-mask.html">Input mask</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="leaflet.html">Leaflet (Map)</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="parallax.html">Parallax</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="slick-carousel.html">Slick carousel</a></li>
                                <li class="hs-sidebar-item">
                                    <span class="hs-sidebar-link">Social APIs:</span>
                                    <ul class="hs-sidebar-nav ml-2 mb-0">
                                        <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="social-api-facebook.html">Facebook</a></li>
                                        <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="social-api-twitter.html">Twitter</a></li>
                                    </ul>
                                </li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="typedjs.html">Typed.js</a></li>
                                <li class="hs-sidebar-item"><a class="hs-sidebar-link " href="validation.html">Validation</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Sidebar Nav -->
                </nav>
                <!-- End Sidebar -->

                <div class="col-lg-10 space-top-1 space-bottom-2">
                    <div class="pl-lg-9 pl-xl-8">
                        <div class="hs-docs-content-divider">
                            <h1>Gulp</h1>
                            <p class="lead">Learn how to use Front's included npm scripts to automate your time-consuming tasks in your development workflow with Gulp toolkit.</p>
                        </div>

                        <div id="tooling-setup" class="hs-docs-content-divider">
                            <h2 class="hs-docs-heading">Tooling setup <a class="anchorjs-link" href="#tooling-setup" aria-label="Anchor" data-anchorjs-icon="#"></a></h2>
                            <p>Front uses <a href="https://docs.npmjs.com/misc/scripts" target="_blank">NPM scripts <i class="fas fa-external-link-alt fa-xs"></i></a> for its build system. Our <code class="highlighter-rouge">package.json</code> includes convenient methods for working with the framework, including compiling code, minification js/css files and more.</p>

                            <p>TL;DR To use our build system and run our documentation locally, you'll need a copy of Front's source files and NodeJS. Follow these steps and you should be ready to rock:</p>

                            <ol class="hs-docs-list-md">
                                <li><a href="https://nodejs.org/en/download/" target="_blank">Download and install Node.js <i class="fas fa-external-link-alt fa-xs"></i></a>, which we use to manage our dependencies. If Node.js is already installed in your machine, please make sure the installed version is <code>v12.x</code> and jump to step 2.</li>
                                <li>Run <code class="highlighter-rouge">npm install --global gulp-cli</code> command. If you already installed <code class="highlighter-rouge">Gulp CLI</code> previously, you can skip this step and jump to step 3.</li>
                                <li>Navigate to the root <code class="highlighter-rouge">/front</code> directory and run <code class="highlighter-rouge">npm install</code> to install our local dependencies listed in <code class="highlighter-rouge">package.json</code>.</li>
                                <li>Run <code class="highlighter-rouge">gulp</code> command.</li>
                            </ol>

                            <p>Yup, that's it.</p>
                        </div>

                        <div id="installations">
                            <h2 class="hs-docs-heading">Installations <a class="anchorjs-link" href="#installations" aria-label="Anchor" data-anchorjs-icon="#"></a></h2>
                        </div>

                        <div id="installing-nodejs" class="hs-docs-content-divider">
                            <h2 class="hs-docs-heading">Installing Node.js <a class="anchorjs-link" href="#installing-nodejs" aria-label="Anchor" data-anchorjs-icon="#"></a></h2>
                            <p>If you do not have Node installed already, you can get it by <a href="https://nodejs.org/en/" target="_blank">downloading the package installer from Node's website</a>. Please download the stable version of Node.js (LTS) <span class="text-dark font-weight-bold">NOT</span> the latest.</p>

                            <p>You need to have Node.js (Node) installed onto your computer before you can install Gulp. When you're done with installing Node, you can install Gulp by using the following command in the command line:</p>
                        </div>

                        <div id="installing-gulp-cli" class="hs-docs-content-divider">
                            <h2 class="hs-docs-heading">Installing Gulp CLI globally <a class="anchorjs-link" href="#installing-gulp-cli" aria-label="Anchor" data-anchorjs-icon="#"></a></h2>

                            <p>Now, we need to install <code class="highlighter-rouge">Gulp CLI</code> globally. If you already installed <code class="highlighter-rouge">Gulp CLI</code> previously, you can skip this step.</p>

                            <pre class="rounded">
                            <code class="language-markup" data-lang="html">
                npm install --global gulp-cli
              </code>
            </pre>
                        </div>

                        <div id="installing-npm-modules" class="hs-docs-content-divider">
                            <h2 class="hs-docs-heading">Installing NPM modules <a class="anchorjs-link" href="#installing-npm-modules" aria-label="Anchor" data-anchorjs-icon="#"></a></h2>
                            <p>First, change the command line path into your project where Front folder is located. if you have not done this before, you may check the following article to quick start <a href="https://www.digitalcitizen.life/command-prompt-how-use-basic-commands" target="_blank">Command Prompt - How to use the simple, basic commands <i class="fas fa-external-link-alt fa-xs"></i></a>.</p>

                            <p>Once the path of your workflow is changed to Front folder, you may run <code class="highlighter-rouge">package.json</code> file by using the following command:</p>

                            <pre class="rounded">
                            <code class="language-markup" data-lang="html">
                npm install
              </code>
            </pre>

                            <p>This time, we're installing Gulp with its all dependency plugins like <code class="highlighter-rouge">gulp-sass</code>, <code class="highlighter-rouge">gulp-autoprefixer</code> and etc. It might take a couple of minutes depends on your internet connection.</p>

                            <p>If you check the project folder when the command has finished executing, you should see that Gulp has created a <code class="highlighter-rouge">node_modules</code> folder.</p>
                        </div>

                        <div id="run-gulp" class="hs-docs-content-divider">
                            <h2 class="hs-docs-heading">Run Gulp <a class="anchorjs-link" href="#run-gulp" aria-label="Anchor" data-anchorjs-icon="#"></a></h2>
                            <p>Now we have an integrated workflow. To try it out run:</p>

                            <pre class="rounded">
                            <code class="language-markup" data-lang="html">
                gulp
              </code>
            </pre>

                            <p>Now you can try making some changes in your custom sass files at <code class="highlighter-rouge">assets/scss/_user-variables.scss</code> or <code class="highlighter-rouge">assets/scss/_user.scss</code> and save it.</p>
                        </div>

                        <div id="gulp-dist" class="hs-docs-content-divider">
                            <h2 class="hs-docs-heading">Gulp dist <a class="anchorjs-link" href="#gulp-dist" aria-label="Anchor" data-anchorjs-icon="#"></a></h2>
                            <p>Explanation of how <code class="highlighter-rouge">gulp dist</code> function in the Front Template works. The <code class="highlighter-rouge">gulp dist</code> function contains 3 main functions that create the <code class="highlighter-rouge">dist</code> folder and perform the following processes:</p>

                            <ol>
                                <li>Minifies CSS files from <code class="highlighter-rouge">assets/css/..</code> to <code class="highlighter-rouge">theme.min.css</code> file and saves to <code class="highlighter-rouge">dist/assets/css/theme.min.css</code></li>
                                <li>Combines and minimizes all JavaScript files from <code class="highlighter-rouge">assets/js/..</code> into <code class="highlighter-rouge">theme.min.js</code> file and saves to <code class="highlighter-rouge">dist/assets/js/theme.min.js</code></li>
                                <li>Updates available libraries from NPM packages and copies the updated libraries to <code class="highlighter-rouge">dist/assets/vendor/..</code></li>
                            </ol>

                            <p>To try it out run:</p>
                            <pre class="rounded">
                            <code class="language-markup" data-lang="html">
                gulp dist
              </code>
            </pre>

                            <blockquote class="callout callout-danger">
                                <p class="callout-title">Note</p>
                                <p>As for the <code class="highlighter-rouge">assets/vendor/..</code> folder, note that these libraries are extracted from NPM, and some libraries are not updated in NPM, so we only extract up-to-date libraries from NPM, and this is the main reason that all libraries are not included in folder <code class="highlighter-rouge">dist/vendor/..</code></p>

                                <p>All NPM libraries that are used in the Front template can be seen in the <code class="highlighter-rouge">package.json</code> file.</p>
                            </blockquote>
                        </div>

                        <div id="autoprefixer" class="hs-docs-content-divider">
                            <h2 class="hs-docs-heading">Autoprefixer <a class="anchorjs-link" href="#autoprefixer" aria-label="Anchor" data-anchorjs-icon="#"></a></h2>
                            <p>Front uses <a href="https://github.com/postcss/autoprefixer" target="_blank">Autoprefixer <i class="fas fa-external-link-alt fa-xs"></i></a> (included in our build process) to automatically add vendor prefixes to some CSS properties at build time. Doing so saves us time and code by allowing us to write key parts of our CSS a single time while eliminating the need for vendor mixins.</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- ========== END MAIN CONTENT ========== -->
        <!-- Go to Top -->
        <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
           data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": 15
         },
         "show": {
           "bottom": 15
         },
         "hide": {
           "bottom": -15
         }
       }
     }'>
            <i class="fas fa-angle-up"></i>
        </a>



