﻿@layout DashBoardLayout
@page "/property/new/"

@inject HttpClient _http

<div class="container">
    <div class="flex">
        <div class="w-64 md:block hidden pr-4 bd-r fixed overflow-y-auto t-0 b-0 mt-16">
            <Vone.Web.Shared.SComponents.SProperty />
        </div>
        <div class="content px-4 pb-8 pt-4 md:ml-64">
            <a href="#" class="text-sm text-gray-400 md:hidden no-underline hover:underline">Menu</a>
            <div class="pt-5">


                <!-- .section-block -->
                <div class="pt-2 section-block text-center text-sm-left">
                    <h4>New property</h4>
                    <hr />
                    <form >
                        <FluentValidator TValidator="PropertyValidator" />
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Property.Id" class="control-label">Location</label>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Address" class="control-label">Adress</label>
                                    <InputText id="Address" class="form-control" placeholder="Address" @bind-Value="@_propertyModel.Address" />
                                    <ValidationMessage For="@(() => _propertyModel.Address)" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="PostalCode" class="control-label">Postal code</label>
                                    <InputText id="PostalCode" class="form-control" placeholder="PostalCode" @bind-Value="@_propertyModel.PostalCode" />
                                    <ValidationMessage For="@(() => _propertyModel.PostalCode)" />
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Type" class="control-label">Type of property</label>
                                    <InputSelect class="form-control" @bind-Value="_propertyModel.Type">
                                        <option value="">Select type of property ...</option>
                                        <option value="condoApartment">condoApartment</option>
                                        <option value="townhouse">townhouse</option>
                                        <option value="cottageBungalow">cottageBungalow</option>
                                        <option value="house">house</option>
                                        <option value="maisonetteDuplex">maisonetteDuplex</option>
                                        <option value="residentialFarm">residentialFarm</option>
                                        <option value="fullBuilding">fullBuilding</option>
                                        <option value="horizontalProperty">horizontalProperty</option>
                                        <option value="loft">loft</option>
                                        <option value="manorPalaceCastle">manorPalaceCastle</option>
                                        <option value="mobileHome">mobileHome</option>
                                        <option value="penthouse">penthouse</option>
                                        <option value="villa">villa</option>
                                        <option value="newBuildings">newBuildings</option>
                                    </InputSelect>
                                    <ValidationMessage For="@(() => _propertyModel.Type)" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Size" class="control-label">Size of property</label>
                                    <InputText id="Size" class="form-control" placeholder="Size" @bind-Value="_propertyModel.Size" />
                                    <ValidationMessage For="@(() => _propertyModel.Size)" />
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Price" class="control-label">Price of property</label>
                                    <InputNumber id="Price" class="form-control" placeholder="Price" @bind-Value="_propertyModel.Price" />
                                    <ValidationMessage For="@(() => _propertyModel.Price)" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Property.Adress" class="control-label">Bedrooms</label>
                                    <InputSelect class="form-control" @bind-Value="_propertyModel.Bedrooms">
                                        <option value="">Number of bedrooms</option>
                                        @for (var i = 1; i <= 10; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </InputSelect>
                                    <ValidationMessage For="@(() => _propertyModel.Bedrooms)" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Property.Adress" class="control-label">Bathrooms</label>
                                    <InputSelect class="form-control" @bind-Value="_propertyModel.Bathrooms">
                                        <option value="">Number of bathrooms</option>
                                        @for (var i = 1; i <= 10; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </InputSelect>
                                    <ValidationMessage For="@(() => _propertyModel.Bathrooms)" />
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="file" name="files">
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Property.Adress" class="control-label">Description</label>
                                    <InputTextArea class="form-control" @bind-Value="_propertyModel.Description" rows="3"></InputTextArea>
                                    <ValidationMessage For="@(() => _propertyModel.Description)" />
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            @foreach (var characteristic in _characteristics)
                            {
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <input type="checkbox" name="Characteristics" value="@characteristic" class="form-check-input" id="@characteristic">
                                        <label class="form-check-label" for="@characteristic">@characteristic</label>
                                    </div>
                                </div>
                            }
                            <ValidationMessage For="@(() => _propertyModel.Characteristics)" />
                        </div>

                        <button class="btn btn-primary" type="submit" style="margin-top: 20px;">Submit</button>
                    </form>

                    <form action="php/form_upload.php" method="post" enctype="multipart/form-data">
                        <!-- file input -->
                        <input type="file" name="files">

                        <input type="submit">
                    </form>
                </div><!-- /.section-block -->
                <hr class="my-5">
                <!-- .section-block -->


            </div>
            <div class="mt-16">
                <div class="md:flex md:items-center md:justify-between">
                    <div class="flex justify-center md:order-2">
                        <a href="https://twitter.com/phpstan" class="ml-6 text-gray-400 hover:text-gray-500" target="_blank" rel="noopener noreferrer">
                            <span class="sr-only">Twitter</span>
                            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
                            </svg>
                        </a>
                        <a href="https://phpstan.org/rss.xml" class="ml-6 text-gray-400 hover:text-gray-500" target="_blank">
                            <span class="sr-only">RSS</span>
                            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M6.503 20.752A3.25 3.25 0 013.252 24 3.25 3.25 0 010 20.752a3.25 3.25 0 013.252-3.248 3.25 3.25 0 013.251 3.248zM0 8.18v4.811c6.05.062 10.96 4.966 11.022 11.009h4.817C15.777 15.29 8.721 8.242 0 8.18zm0-3.368C10.58 4.858 19.152 13.406 19.183 24H24C23.97 10.769 13.245.046 0 0v4.812z" />
                            </svg>
                        </a>
                    </div>
                    <div class="mt-8 md:mt-0 md:order-1 flex items-center justify-center">
                        <div class="text-center text-base leading-6 text-gray-400">&copy; 2016–2020 Ondřej Mirtes</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

    private EditContext _editContext; // edit context validation purposes
    private bool formInvalid = true;
    private PropertyModelView _propertyModel = new PropertyModelView(); // Property model
    // private IEnumerable<City> _city = new List<City>();
    private List<string> _characteristics = new List<string>();

    protected override void OnInitialized()
    {
        // _city = new List<City>();
        _characteristics.AddRange(new string[] { "washer", "forReducedMobility", "waterfront", "lift", "balcony", "smokingPermitted", "swimmingPool" });
        // _editContext = new EditContext(_propertyModel); // we bind edit context to profile model
        // _editContext.OnFieldChanged += HandleFieldChanged;
    }

    private void HandleFormSubmit()
    {
        var isValid = _editContext.Validate();
        if (isValid)
        {
            Console.WriteLine("Form Submitted Successfully!");
        }
    }

    /*private async Task<IEnumerable<City>> SearchCities(string _searchText)
    {
        _city = await _http.GetFromJsonAsync<IEnumerable<City>>($"api/cities/?name={_searchText}");
        return _city;
    }*/
}