﻿<div class="pt-4">
    <span class="flex-grow py-2 tx-gray-900 tx-20">Edit your renting </span>
    <a href="#" class="md:hidden text-gray-400 hover:text-gray-500">
        <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
    </a>
</div>
<div class="nav flex-column nav-pills">
    <NavLink class="nav-link" href="/property/new/">New property</NavLink>
    <NavLink class="nav-link" href="/property/list/">Listing property</NavLink>
</div>

@functions {
    
}