﻿<div class="pd-lg-t-50">
    <span class="py-2 tx-gray-900 tx-20">Edit your account </span>
    <!--a href="#" class="d-none d-sm-block d-md-none hover-gray-900">
        <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
    </a-->
</div>
<div class="nav flex-column nav-pills">
    <NavLink class="nav-link" href="/rent/new/">New renting proposal</NavLink>
    <NavLink class="nav-link" href="/rent/list/">Listing renting proposal</NavLink>
</div>