﻿@page "/auth/complete_information/"

@inject HttpClient _http
@inject NavigationManager _navigationManager

<nav aria-label="breadcrumb" role="navigation" class="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="/auth/complete_information/">
                            Comolete informations
                        </a>
                    </li>
                </ol>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</nav>
<section>
    <!-- .container -->
    <div class="container">
        <!-- .row -->
        <div class="row justify-content-center">
            <!-- .col-md-6 -->
            <div class="col-12 col-md-10 mb-1 order-md-2">
                <div class="card card-fluid">
                    <h6 class="card-header"> Privacy policy </h6>
                    <div class="card-body">
                        <div class="container">

                            <div class="pt-2 section-block text-center text-sm-left">
                                <h4>Profile Information</h4>
                                <hr />
                                <EditForm Model="@_profileModel" OnSubmit="@HandleFormSubmit">
                                    <!--FluentValidator TValidator="EditAccountInformationValidator" /-->
                                    <!--end of col-->
                                    <div class="col-md-12">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="firstName">First name</label>
                                                    <InputText id="firstName" class="form-control" placeholder="firstName" @bind-Value="_profileModel.FirstName" />
                                                    <ValidationMessage For="@(() => _profileModel.FirstName)" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="lastName">Last name</label>
                                                    <InputText id="lastName" class="form-control" placeholder="lastName" @bind-Value="_profileModel.LastName" />
                                                    <ValidationMessage For="@(() => _profileModel.LastName)" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="gender">Gender</label>
                                                    <InputSelect class="form-control" id="gender" @bind-Value="_profileModel.Gender">
                                                        <option value="">select gender</option>
                                                        <option value="M">male</option>
                                                        <option value="F">female</option>
                                                    </InputSelect>
                                                    <ValidationMessage For="@(() => _profileModel.Gender)" />
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="birthDate">Birth date</label>
                                                <!--InputMask class="form-control" @bind-Value="_profileModel.BirthDate" data-mask="00/00/0000" placeholder="birthdate" /-->
                                                <small>eg. (dd/mm/yyyy)</small>
                                                <ValidationMessage For="@(() => _profileModel.BirthDate)" />
                                            </div>
                                        </div>
                                    </div>

                                    <!--end of col-->
                                    <h5>Profile Social</h5>
                                    <hr />
                                    <!--end of col-->
                                    <div class="col-md-12">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="FacebookHandle">Facebook handle</label>
                                                    <InputText id="FacebookHandle" class="form-control" placeholder="facebook handler" @bind-Value="_profileModel.FacebookHandler" />
                                                    <small>This will be displayed on your public profile</small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="GoogleHandle">Google Handle</label>
                                                    <InputText id="GoogleHandle" class="form-control" placeholder="google handler" @bind-Value="_profileModel.GoogleHandler" />
                                                    <small>This will be displayed on your public profile</small>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="about-me">Bio:</label>
                                                    <InputTextArea class="form-control" @bind-Value="_profileModel.Bio" rows="4" id="about-me" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end of col-->



                                    <div class="form-group">
                                        <button type="submit" class="@_loadingButton btn btn-primary">Update Information</button>
                                    </div>
                                </EditForm>
                            </div><!-- /.section-block -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</section>


@code {

    private ProfileModelView _profileModel { get; set; } = new ProfileModelView();
    // private Vone.Models.Profile _profile = new Vone.Models.Profile(); // Profile model
    // private ContentResult _contentResult { get; set; } = new ContentResult(); // to  display alert
    private bool _processing;
    string _loadingButton => _processing ? "loading" : null;
    // ClaimsPrincipal _claimsPrincipal;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // _claimsPrincipal = (await authenticationStateTask).User;
        // var _id = _claimsPrincipal.FindFirst(ClaimTypes.Sid).Value;
        // _profile = await _http.GetFromJsonAsync<Vone.Models.Profile>($"api/Profiles/{_id}");
        // _profileModel = _mapper.Map<ProfileModelView>(_profile);
    }

    private async Task HandleFormSubmit(EditContext _editContext)
    {
        _processing = true;
        var isValid = _editContext.Validate();

        if (isValid)
        {
            // _profile.FirstName = _profileModel.FirstName;
            // _profile.LastName = _profileModel.LastName;
            // _profile.Gender = _profileModel.Gender;
            // _profile.BirthDate = DateTime.Parse(_profileModel.BirthDate);
            // _profile.FacebookHandler = _profileModel.FacebookHandler;
            // _profile.GoogleHandler = _profileModel.GoogleHandler;
            // _profile.Bio = _profileModel.Bio;

            // await _http.PutAsJsonAsync($"api/Profiles/{_profile.Id}", _profile);

            // we show success message
            // _contentResult.Message = $"Your informations have been updated successfully";
            // _contentResult.Success = true;

            _navigationManager.NavigateTo("/auth/complete_role/");
        }

        _processing = false;
    }
}