﻿<div @onfocusout="e => this._showAccount=!this._showAccount" class="dropdown d-none d-md-flex @(_showAccount? "show":"")">
    <button class="btn-account d-none d-md-flex" @onclick="e => this._showAccount=!this._showAccount">
        <span class="user-avatar user-avatar-md">
            <img src="https://uselooper.com/assets/images/avatars/profile.jpg" alt="" />
        </span>
        <span class="account-summary pr-lg-4 d-none d-lg-block">
            <span class="account-name">Beni Arisandi</span>
            <span class="account-description">Marketing Manager</span>
        </span>
        <i class="fas @(_showAccount? "fa-chevron-up":"fa-chevron-down")"></i>
    </button>
        
    <!--a class="dropdown-item" href="user-profile.html">
        <span class="dropdown-icon oi oi-person"></span> Profile
    </a> 
    <a class="dropdown-item" href="auth-signin-v1.html">
        <span class="dropdown-icon oi oi-account-logout"></span> Logout
    </a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">
        <span class="dropdown-icon oi oi-account-logout"></span>Help Center
    </a> 
    <a class="dropdown-item" href="#">
            <span class="dropdown-icon oi oi-account-logout"></span>Ask Forum
        </a> 
        <a class="dropdown-item" href="#">
            <span class="dropdown-icon oi oi-account-logout"></span>Keyboard Shortcuts
        </a-->
        <!--button class="btn btn-primary dropdown-toggle mr-4" data-toggle="dropdown" type="button" @onclick="e => this.show=!this.show "
            aria-haspopup="true" aria-expanded="false">
            @Tip
        </button-->
    <CascadingValue name="Dropdown" Value="@this">
        <div class="dropdown-menu @(_showAccount? "show":"")">
            <div class="dropdown-arrow ml-3"></div>
            <h6 class="dropdown-header d-none d-md-block d-lg-none"> Beni Arisandi </h6>
                @ChildContent
        </div>
    </CascadingValue>
</div>

@code {
    [Parameter]
    public RenderFragment InitialTip{get;set;}
    [Parameter]
    public RenderFragment ChildContent{get;set;}

    private bool _showAccount = false;

    public void HideMenu()
    {
        this._showAccount = false;
        StateHasChanged();
    }
}