﻿<a class="dropdown-item" @onclick="e=> Dropdown.HideMenu()" href="#">
    <span class="dropdown-icon oi oi-account-logout"></span> @ItemValue
</a>

@code {
    [CascadingParameter(Name="Dropdown")]
    public ADropdown Dropdown {get;set;}

    [Parameter]
    public string LinkValue { get; set; }
    [Parameter]
    public string ItemValue { get; set; }
    [Parameter]
    public RenderFragment ChildContent {get;set;}
}