﻿<!--div class="dropdown">
    <button class="btn btn-primary dropdown-toggle mr-4" data-toggle="dropdown" type="button" @onclick="e => this.show=!this.show " 
            aria-haspopup="true" aria-expanded="false">
            @Tip
    </button>
    <CascadingValue name="Dropdown" Value="@this">
    <div class="dropdown-menu @(show? "show":"")" >
        @ChildContent
    </div>
    </CascadingValue>
</div-->

<li class="nav-item dropdown header-nav-dropdown has-notified @(show? "show":"")">
    <a class="nav-link"  @onfocusout="e => this.show=!this.show" href="javascript:;" @onclick="e => this.show=!this.show "><i class="far fa-bell fa-lg"></i></a>
    <div class="dropdown-menu dropdown-menu-rich dropdown-menu-right @(show? "show":"")">
        <div class="dropdown-arrow"></div>
        <h6 class="dropdown-header stop-propagation">
            <span>Messages</span> <a href="#">Mark all as read</a>
        </h6>
        <div class="dropdown-scroll perfect-scrollbar">
            <a href="#" class="dropdown-item unread">
                <div class="user-avatar">
                    <img src="https://uselooper.com/assets/images/avatars/team1.jpg" alt="">
                </div>
                <div class="dropdown-item-body">
                    <p class="subject"> Stilearning </p>
                    <p class="text text-truncate"> Invitation: Joe's Dinner Fri Aug 22 </p>
                    <span class="date">2 hours ago</span>
                </div>
            </a>
            <a href="#" class="dropdown-item">
                <div class="user-avatar">
                    <img src="https://uselooper.com/assets/images/avatars/team3.png" alt="">
                </div>
                <div class="dropdown-item-body">
                    <p class="subject"> Openlane </p>
                    <p class="text text-truncate"> Final reminder: Upgrade to Pro </p>
                    <span class="date">23 hours ago</span>
                </div>
            </a>
            <a href="#" class="dropdown-item">
                <div class="tile tile-circle bg-green"> GZ </div>
                <div class="dropdown-item-body">
                    <p class="subject"> Gogo Zoom </p>
                    <p class="text text-truncate"> Live healthy with this wireless sensor. </p>
                    <span class="date">1 day ago</span>
                </div>
            </a>
            <a href="#" class="dropdown-item">
                <div class="tile tile-circle bg-teal"> GD </div>
                <div class="dropdown-item-body">
                    <p class="subject"> Gold Dex </p>
                    <p class="text text-truncate"> Invitation: Design Review Mon Jul 7 </p>
                    <span class="date">1 day ago</span>
                </div>
            </a>
            <a href="#" class="dropdown-item">
                <div class="user-avatar">
                    <img src="https://uselooper.com/assets/images/avatars/team2.png" alt="">
                </div>
                <div class="dropdown-item-body">
                    <p class="subject"> Creative Division </p>
                    <p class="text text-truncate"> Need some feedback on this please </p>
                    <span class="date">2 days ago</span>
                </div>
            </a>
            <a href="#" class="dropdown-item">
                <div class="tile tile-circle bg-pink"> LD </div>
                <div class="dropdown-item-body">
                    <p class="subject"> Lab Drill </p>
                    <p class="text text-truncate"> Our UX exercise is ready </p>
                    <span class="date">6 days ago</span>
                </div>
            </a>
        </div>
        <a href="page-messages.html" class="dropdown-footer">All messages <i class="fas fa-fw fa-long-arrow-alt-right"></i></a>
    </div>
</li>

@code {
    [Parameter]
    public RenderFragment InitialTip{get;set;}
    [Parameter]
    public RenderFragment ChildContent{get;set;}

    private bool show = false;

    public void HideMenu()
    {
        this.show=false;
        StateHasChanged();
    }
}