﻿<li class="">
    <a href="@LinkValue" @onclick="e=> Dropdown.HideMenu()">@ItemValue</a>
</li>

@code {
    [CascadingParameter(Name = "Dropdown")]
    public SubMenuDropdown Dropdown { get; set; }


    [Parameter]
    public string LinkValue { get; set; }
    [Parameter]
    public string ItemValue { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}