﻿<li @onfocusout="e => this.show=!this.show" class="@(show? "open opening":"")">
    <a @onclick="e => this.show=!this.show" href="javascript:;">
        <span class="title">@InitialTip</span>
        <i class="fas fa-chevron-down tx-10"></i>
    </a>
    <CascadingValue name="Dropdown" Value="@this">
        <ul class="">
            @ChildContent
        </ul>
    </CascadingValue>
</li>

@code {
    [Parameter]
    public RenderFragment InitialTip { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private bool show = false;

    public void HideMenu()
    {
        this.show = false;
        StateHasChanged();
    }
}