﻿@layout DashBoardLayout
@page "/account/edit/information/"
@attribute [Authorize]

@inject HttpClient _http

<div class="container">
   <div class="flex">
      <div class="wd-lg-250 d-none d-sm-block pr-4 bd-r pos-fixed overflow-y-auto t-0 b-0 mg-t-90">
          <Vone.Web.Shared.SComponents.SEditProfile />
      </div>
      <div class="content px-4 pb-8 pd-lg-t-70 mg-md-l-250">
          <a href="#" class="text-sm text-gray-400">Menu</a>
         <div class="pt-5">
            <!-- .section-block -->
            <div class="section-block text-center text-sm-left">
               <h4>Profile Information</h4>
               <hr />
               <!--@if (!string.IsNullOrEmpty(_contentResult.Message))
               {
               <AlertMessage Success="@_contentResult.Success" Message="@_contentResult.Message" />
               }-->
               <EditForm Model="@_profileModel" OnSubmit="@HandleFormSubmit">
                  <FluentValidator TValidator="EditAccountInformationValidator" />
                  <div class="row">
                     <div class="col-12 col-md-4 order-md-2">
                        <div class="alert alert-info text-small" role="alert">
                           <i class="icon-user"></i>
                           <span>
                           Some of this information will appear on your public profile. A detailed public profile helps users with similar professional interests and location to connect with you.
                           </span>
                           <a href="#">View your public profile</a>
                        </div>
                     </div>
                     <!--end of col-->
                     <div class="col-12 col-md-8 order-md-1">
                         <div class="media mb-3">
                     <div class="user-avatar user-avatar-xl fileinput-button">
                        <div class="fileinput-button-label"> Change photo </div>
                         <img src="https://uselooper.com/assets/images/avatars/profile.jpg" alt="">
                        <!--@if (!string.IsNullOrEmpty(imageDataUri))
                        {
                            <img src="@imageDataUri" />
                        } 
                        else
                        {
                            <img src="https://uselooper.com/assets/images/avatars/profile.jpg" alt="">
                        }
                        <InputFile id="fileupload-avatar" OnChange="HandleSelection" />
                        -->
                     </div>
                     <div class="media-body pl-3">
                        <h3 class="card-title"> Public avatar </h3>
                        <h6 class="card-subtitle text-muted"> Click the current avatar to change your photo. </h6>
                        <p class="card-text">
                           <small>JPG, GIF or PNG 400x400, &lt; 2 MB.</small>
                        </p>
                        <div id="progress-avatar" class="progress progress-xs fade">
                           <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                     </div>
                  </div>
                  <hr />
                        <div class="form-row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label for="firstName">First name</label>
                                 <InputText id="firstName" class="form-control" placeholder="firstName" @bind-Value="_profileModel.FirstName" />
                                 <ValidationMessage For="@(() => _profileModel.FirstName)" />
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label for="lastName">Last name</label>
                                 <InputText id="lastName" class="form-control" placeholder="lastName" @bind-Value="_profileModel.LastName" />
                                 <ValidationMessage For="@(() => _profileModel.LastName)" />
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label for="gender">Gender</label>
                                 <InputSelect class="form-control" id="gender" @bind-Value="_profileModel.Gender">
                                    <option value="">select gender</option>
                                    <option value="M">male</option>
                                    <option value="F">female</option>
                                 </InputSelect>
                                 <ValidationMessage For="@(() => _profileModel.Gender)" />
                              </div>
                           </div>
                           <div class="form-group col-md-6">
                               <label for="birthDate">Birth date</label>
                               <!--InputMask class="form-control" @bind-Value="_profileModel.BirthDate" data-mask="00/00/0000" placeholder="birthdate" /-->
                               <small>eg. (dd/mm/yyyy)</small>
                               <ValidationMessage For="@(() => _profileModel.BirthDate)" />
                           </div>
                        </div>
                     </div>
                     <!--end of col-->
                  </div>
                  <h5>Profile Social</h5>
                  <hr />
                  <div class="row">
                     <div class="col-12 col-md-4 order-md-2">
                        <div class="alert alert-info text-small" role="alert">
                           <i class="icon-user"></i>
                           <span>
                           Some of this information will appear on your public profile. A detailed public profile helps users with similar professional interests and location to connect with you.
                           </span>
                           <a href="#">View your public profile</a>
                        </div>
                     </div>
                     <!--end of col-->
                     <div class="col-12 col-md-8 order-md-1">
                        <div class="form-row">
                           <div class="col-md-6">
                               <div class="form-group">
                                   <label for="FacebookHandle">Facebook handle</label>
                                   <InputText id="FacebookHandle" class="form-control" placeholder="facebook handler" @bind-Value="_profileModel.FacebookHandler" />
                                   <small>This will be displayed on your public profile</small>
                               </div>
                           </div>
                           <div class="col-md-6">
                               <div class="form-group">
                                   <label for="GoogleHandle">Google Handle</label>
                                   <InputText id="GoogleHandle" class="form-control" placeholder="google handler" @bind-Value="_profileModel.GoogleHandler" />
                                   <small>This will be displayed on your public profile</small>
                               </div>
                           </div>
                           <div class="col-md-12">
                               <div class="form-group">
                                   <label for="about-me">Bio:</label>
                                   <InputTextArea class="form-control" @bind-Value="_profileModel.Bio" rows="4" id="about-me" />
                               </div>
                           </div>
                        </div>
                     </div>
                     <!--end of col-->
                  </div>
                  <div class="form-group">
                     <button type="submit" class="@_loadingButton btn btn-primary">Update Information</button>
                  </div>
               </EditForm>
            </div>
            <!-- /.section-block -->
            <hr class="my-5">
            <!-- .section-block -->
         </div>
         <DashboardFooter />
      </div>
   </div>
</div>

@code {
    private ProfileModelView _profileModel { get; set; } = new ProfileModelView();
    private bool _processing;
    string _loadingButton => _processing ? "loading" : null;

    private async Task HandleFormSubmit(EditContext _editContext)
    {

    }
    // private Vone.Models.Profile _profile = new Vone.Models.Profile(); // Profile model
    // private ContentResult _contentResult { get; set; } = new ContentResult(); // to  display alert
    // private string imageDataUri;
    // private bool _processing ;
    // string _loadingButton => _processing ? "loading" : null;
    // ClaimsPrincipal _claimsPrincipal;

    // [CascadingParameter]
    // private Task<AuthenticationState> authenticationStateTask { get; set; }

    /*protected override async Task OnInitializedAsync()
    {
        _claimsPrincipal = (await authenticationStateTask).User;
        var _id = _claimsPrincipal.FindFirst(ClaimTypes.Sid).Value;
        _profile = await _http.GetFromJsonAsync<Vone.Models.Profile>($"api/Profiles/{_id}");
        _profileModel = _mapper.Map<ProfileModelView>(_profile);
    }

    async Task HandleSelection(IFileListEntry[] files)
    {
        var rawFile = files.FirstOrDefault();
        if (rawFile != null)
        {
            // Load as an image file in memory
            var format = "image/jpeg";
            var imageFile = await rawFile.ToImageFileAsync(format, 640, 480);
            var ms = new System.IO.MemoryStream();
            await imageFile.Data.CopyToAsync(ms);

            // Make a data URL so we can display it
            imageDataUri = $"data:{format};base64,{Convert.ToBase64String(ms.ToArray())}";
        }
    }

    private async Task HandleFormSubmit(EditContext _editContext)
    {
        _processing = true;
        var isValid = _editContext.Validate();

        if (isValid)
        {
            _profile.FirstName = _profileModel.FirstName;
            _profile.LastName = _profileModel.LastName;
            _profile.Gender = _profileModel.Gender;
            _profile.BirthDate = DateTime.Parse(_profileModel.BirthDate);
            _profile.FacebookHandler = _profileModel.FacebookHandler;
            _profile.GoogleHandler = _profileModel.GoogleHandler;
            _profile.Bio = _profileModel.Bio;

            await _http.PutAsJsonAsync($"api/Profiles/{_profile.Id}", _profile);

            // we show success message
            _contentResult.Message = $"Your informations have been updated successfully";
            _contentResult.Success = true;
        }

        _processing = false;
    }*/

}
