﻿@layout DashBoardLayout
@page "/account/edit/language/"

@inject HttpClient _http

<div class="container">
   <div class="flex">
      <div class="wd-lg-250 d-none d-sm-block pr-4 bd-r pos-fixed overflow-y-auto t-0 b-0 mg-t-90">
          <Vone.Web.Shared.SComponents.SEditProfile />
      </div>
      <div class="content px-4 pb-8 pd-lg-t-70 mg-md-l-250">
          <a href="#" class="text-sm text-gray-400">Menu</a>
         <div class="pt-5">
            <!-- .section-block -->
             <div class="section-block text-center text-sm-left">
                 <h4>Profile Language settings</h4>
                 <hr />
                 <!--@if (!string.IsNullOrEmpty(_contentResult.Message))
    {
        <AlertMessage Success="@_contentResult.Success" Message="@_contentResult.Message" />
    }-->
                 <EditForm Model="@_profileModel">
                     <!-- form row -->
                     <div class="form-row wd-800">
                         <!-- form column -->
                         <label for="language" class="col-md-3">Language</label> <!-- /form column -->
                         <!-- form column -->
                         <div class="col-md-9 mb-3">
                             <InputSelect class="form-control" @bind-Value="_profileModel.Language" id="language">
                                 <option value="">select your default language</option>
                                 <option value="en">Anglais</option>
                                 <option value="fr">Français</option>
                             </InputSelect>
                             <ValidationMessage For="@(() => _profileModel.Language)" />
                         </div><!-- /form column -->
                     </div><!-- /form row -->
                     <!-- form row -->
                     <hr>
                     <!-- .form-actions -->
                     <div class="form-actions">
                         <button type="submit" class="@_loadingButton btn btn-primary ml-auto">Update Language settings</button>
                     </div><!-- /.form-actions -->
                 </EditForm><!-- /form -->
             </div>
            <!-- /.section-block -->
            <hr class="my-5">
            <!-- .section-block -->
         </div>
         <DashboardFooter />
      </div>
   </div>
</div>

@code {
    private ProfileModelView _profileModel { get; set; } = new ProfileModelView(); // Profile model
    private bool _processing;
    string _loadingButton => _processing ? "loading" : null;
    /*private ContentResult _contentResult { get; set; } = new ContentResult(); // to  display alert when success
    private Vone.Models.Profile _profile = new Vone.Models.Profile(); // Profile model
    private bool _processing;
    string _loadingButton => _processing ? "loading" : null;
    ClaimsPrincipal _claimsPrincipal;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _claimsPrincipal = (await authenticationStateTask).User;
        var _id = _claimsPrincipal.FindFirst(ClaimTypes.Sid).Value;
        _profile = await _http.GetFromJsonAsync<Vone.Models.Profile>($"api/Profiles/{_id}");
        _profileModel = _mapper.Map<ProfileModelView>(_profile);
    }

    private async Task HandleFormSubmit(EditContext _editContext)
    {
        _processing = true;
        var isValid = _editContext.Validate();

        if (isValid)
        {
            _profile.Language = _profileModel.Language;

            await _http.PutAsJsonAsync($"api/Profiles/{_profile.Id}", _profile);

            // we show success message
            _contentResult.Message = $"Your language settings have been updated successfully";
            _contentResult.Success = true;
        }

        _processing = false;
    }*/
}


