﻿@layout DashBoardLayout
@page "/account/edit/notification/"

<div class="container">
   <div class="flex">
      <div class="wd-lg-250 d-none d-sm-block pr-4 bd-r pos-fixed overflow-y-auto t-0 b-0 mg-t-90">
          <Vone.Web.Shared.SComponents.SEditProfile />
      </div>
      <div class="content px-4 pb-8 pd-lg-t-70 mg-md-l-250">
          <a href="#" class="text-sm text-gray-400">Menu</a>
         <div class="pt-5">
            <!-- .section-block -->
             <div class="section-block text-center text-sm-left">
                 <h4>Profile Notifications</h4>
                 <hr />
                 <EditForm EditContext="@_editContext" OnSubmit="@HandleFormSubmit">
                     <FluentValidator TValidator="EditAccountPasswordValidator" />
                     <!-- .card -->
                     <div class="card card-fluid wd-800">
                         <h6 class="card-header"> Notifications </h6><!-- .list-group -->
                         <div class="list-group list-group-flush">
                             <!-- .list-group-item -->
                             <div class="list-group-item d-flex justify-content-between align-items-center">
                                 Someone follows you
                                 <!-- .switcher -->
                                 <label class="switcher-control switcher-control-success"><input type="checkbox" name="notif01" class="switcher-input" checked> <span class="switcher-indicator"></span></label> <!-- /.switcher -->
                             </div><!-- /.list-group-item -->
                             <!-- .list-group-item -->
                             <div class="list-group-item d-flex justify-content-between align-items-center">
                                 Someone mentions you
                                 <!-- .switcher -->
                                 <label class="switcher-control switcher-control-success"><input type="checkbox" name="notif02" class="switcher-input" checked> <span class="switcher-indicator"></span></label> <!-- /.switcher -->
                             </div><!-- /.list-group-item -->
                             <!-- .list-group-item -->
                             <div class="list-group-item d-flex justify-content-between align-items-center">
                                 Someone sends you a message
                                 <!-- .switcher -->
                                 <label class="switcher-control switcher-control-success"><input type="checkbox" name="notif03" class="switcher-input" checked> <span class="switcher-indicator"></span></label> <!-- /.switcher -->
                             </div><!-- /.list-group-item -->
                             <div class="list-group-header"> Team Notifications </div><!-- .list-group-item -->
                             <div class="list-group-item d-flex justify-content-between align-items-center">
                                 Someone invite you to a team
                                 <!-- .switcher -->
                                 <label class="switcher-control switcher-control-success"><input type="checkbox" name="notif04" class="switcher-input" checked> <span class="switcher-indicator"></span></label> <!-- /.switcher -->
                             </div><!-- /.list-group-item -->
                             <!-- .list-group-item -->
                             <div class="list-group-item d-flex justify-content-between align-items-center">
                                 Someone update a team
                                 <!-- .switcher -->
                                 <label class="switcher-control switcher-control-success"><input type="checkbox" name="notif05" class="switcher-input" checked> <span class="switcher-indicator"></span></label> <!-- /.switcher -->
                             </div><!-- /.list-group-item -->
                             <!-- .list-group-item -->
                             <div class="list-group-item d-flex justify-content-between align-items-center">
                                 Someone add new project
                                 <!-- .switcher -->
                                 <label class="switcher-control switcher-control-success"><input type="checkbox" name="notif06" class="switcher-input"> <span class="switcher-indicator"></span></label> <!-- /.switcher -->
                             </div><!-- /.list-group-item -->
                             <!-- .list-group-item -->
                             <div class="list-group-item d-flex justify-content-between align-items-center">
                                 Someone update a project
                                 <!-- .switcher -->
                                 <label class="switcher-control switcher-control-success"><input type="checkbox" name="notif07" class="switcher-input" checked> <span class="switcher-indicator"></span></label> <!-- /.switcher -->
                             </div><!-- /.list-group-item -->
                             <div class="list-group-header"> Project Notifications </div><!-- .list-group-item -->
                             <div class="list-group-item d-flex justify-content-between align-items-center">
                                 Someone update a team
                                 <!-- .switcher -->
                                 <label class="switcher-control switcher-control-success"><input type="checkbox" name="notif08" class="switcher-input" checked> <span class="switcher-indicator"></span></label> <!-- /.switcher -->
                             </div><!-- /.list-group-item -->
                             <!-- .list-group-item -->
                             <div class="list-group-item d-flex justify-content-between align-items-center">
                                 Someone add new task
                                 <!-- .switcher -->
                                 <label class="switcher-control switcher-control-success"><input type="checkbox" name="notif09" class="switcher-input" checked> <span class="switcher-indicator"></span></label> <!-- /.switcher -->
                             </div><!-- /.list-group-item -->
                             <!-- .list-group-item -->
                             <div class="list-group-item d-flex justify-content-between align-items-center">
                                 Someone update a task
                                 <!-- .switcher -->
                                 <label class="switcher-control switcher-control-success"><input type="checkbox" name="notif10" class="switcher-input" checked> <span class="switcher-indicator"></span></label> <!-- /.switcher -->
                             </div><!-- /.list-group-item -->
                             <div class="list-group-header"> News & Trending </div><!-- .list-group-item -->
                             <div class="list-group-item d-flex justify-content-between align-items-center">
                                 Top members this week
                                 <!-- .switcher -->
                                 <label class="switcher-control switcher-control-success"><input type="checkbox" name="notif11" class="switcher-input" checked> <span class="switcher-indicator"></span></label> <!-- /.switcher -->
                             </div><!-- /.list-group-item -->
                             <!-- .list-group-item -->
                             <div class="list-group-item d-flex justify-content-between align-items-center">
                                 Top Teams this week
                                 <!-- .switcher -->
                                 <label class="switcher-control switcher-control-success"><input type="checkbox" name="notif12" class="switcher-input" checked> <span class="switcher-indicator"></span></label> <!-- /.switcher -->
                             </div><!-- /.list-group-item -->
                             <!-- .list-group-item -->
                             <div class="list-group-item d-flex justify-content-between align-items-center">
                                 Rating reminders
                                 <!-- .switcher -->
                                 <label class="switcher-control switcher-control-success"><input type="checkbox" name="notif13" class="switcher-input"> <span class="switcher-indicator"></span></label> <!-- /.switcher -->
                             </div><!-- /.list-group-item -->
                             <!-- .list-group-item -->
                             <div class="list-group-item d-flex justify-content-between align-items-center">
                                 Project deadline
                                 <!-- .switcher -->
                                 <label class="switcher-control switcher-control-success"><input type="checkbox" name="notif14" class="switcher-input" checked> <span class="switcher-indicator"></span></label> <!-- /.switcher -->
                             </div><!-- /.list-group-item -->
                         </div><!-- /.list-group -->
                     </div><!-- /.card -->
                     <hr />

                     <div class="form-group">
                         <button type="submit" class="btn btn-primary">Update Password</button>
                     </div>
                 </EditForm><!-- /form -->
             </div>
            <!-- /.section-block -->
            <hr class="my-5">
            <!-- .section-block -->
         </div>
         <DashboardFooter />
      </div>
   </div>
</div>

@code {

    private EditContext _editContext; // edit context validation purposes
    private ProfileModelView _profileModel = new ProfileModelView(); // Profile model

    protected override void OnInitialized()
    {
        _editContext = new EditContext(_profileModel); // we bind edit context to profile model
    }

    private void HandleFormSubmit()
    {
        var isValid = _editContext.Validate();
    }
}
