﻿@layout DashBoardLayout
@page "/account/edit/password/"

@inject HttpClient _http

<div class="container">
   <div class="flex">
      <div class="wd-lg-250 d-none d-sm-block pr-4 bd-r pos-fixed overflow-y-auto t-0 b-0 mg-t-90">
          <Vone.Web.Shared.SComponents.SEditProfile />
      </div>
      <div class="content px-4 pb-8 pd-lg-t-70 mg-md-l-250">
          <a href="#" class="text-sm text-gray-400">Menu</a>
         <div class="pt-5">
            <!-- .section-block -->
             <div class="section-block text-center text-sm-left">
                 <h4>Profile Information</h4>
                 <hr />
                 <!--@if (!string.IsNullOrEmpty(_contentResult.Message))
    {
    <AlertMessage Success="@_contentResult.Success" Message="@_contentResult.Message" />
    }-->
                 <EditForm Model="@_profileModel" OnSubmit="@HandleFormSubmit">
                     <FluentValidator TValidator="EditAccountPasswordValidator" />
                     <div class="row">
                         <div class="col-12 col-md-8 order-md-2">
                             <div class="form-row">
                                 <div class="col-md-12">
                                     <div class="form-group">
                                         <label for="password">Password</label>
                                         <InputText type="password" id="password" class="form-control" @bind-Value="_profileModel.Password" placeholder="password" />
                                         <a href="javascript:;" class="icons"><i class="fas fa-eye"></i></a>
                                         <ValidationMessage For="@(() => _profileModel.Password)" />
                                     </div>
                                 </div>
                             </div>
                             <div class="form-row">
                                 <div class="col-md-12">
                                     <div class="form-group">
                                         <label for="newPassword">New password</label>
                                         <InputText type="password" id="newPassword" class="form-control" @bind-Value="_profileModel.NewPassword" placeholder="new Password" />
                                         <a href="javascript:;" class="icons"><i class="fas fa-eye"></i></a>
                                         <ValidationMessage For="@(() => _profileModel.NewPassword)" />
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <div class="col-12 col-md-4 order-md-2">
                             <div class="alert alert-info text-small" role="alert">
                                 <i class="icon-shield"></i>
                                 <span>
                                     Your information is always kept encrypted and can never be accessed by third parties.
                                 </span>
                                 <a href="#">See our privacy policy</a>
                             </div>
                         </div>
                     </div>
                     <hr />

                     <div class="form-group">
                         <button type="submit" class="@_loadingButton btn btn-primary">Update Password</button>
                     </div>
                 </EditForm><!-- /form -->
             </div>
            <!-- /.section-block -->
            <hr class="my-5">
            <!-- .section-block -->
         </div>
         <DashboardFooter />
      </div>
   </div>
</div>

@code {

    private ProfileModelView _profileModel { get; set; } = new ProfileModelView();
    private bool _processing;
    string _loadingButton => _processing ? "loading" : null;

    private async Task HandleFormSubmit(EditContext _editContext)
    {

    }
    /*private Vone.Models.Profile _profile = new Vone.Models.Profile(); // Profile model
    private ContentResult _contentResult { get; set; } = new ContentResult(); // to  display alert when success
    private bool _processing;
    string _loadingButton => _processing ? "loading" : null;
    ClaimsPrincipal _claimsPrincipal;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _claimsPrincipal = (await authenticationStateTask).User;
        _profileModel.Email = _claimsPrincipal.FindFirst(ClaimTypes.Email).Value;
    }

    private async Task HandleFormSubmit(EditContext _editContext)
    {
        _processing = true;
        var isValid = _editContext.Validate();

        if (isValid)
        {
            // we post the data
            var _id = _claimsPrincipal.FindFirst(ClaimTypes.Sid).Value;

            _profile = await _http.GetFromJsonAsync<Vone.Models.Profile>($"api/Profiles/{_id}");

            _profile.Password = BCrypt.Net.BCrypt.HashPassword(_profileModel.NewPassword); // hash the password
            _profile.UpdatedAt = DateTime.Now;

            await _http.PutAsJsonAsync($"api/Profiles/{_id}", _profile);

            // we show success message
            _contentResult.Message = $"Your password has been updated successfully";
            _contentResult.Success = true;

            _profileModel = new ProfileModelView(); // clear the form
        }

        _processing = false;
    }*/
}


