﻿@layout DashBoardLayout
@page "/account/edit/role/"

<div class="container">
   <div class="flex">
      <div class="wd-lg-250 d-none d-sm-block pr-4 bd-r pos-fixed overflow-y-auto t-0 b-0 mg-t-90">
          <Vone.Web.Shared.SComponents.SEditProfile />
      </div>
      <div class="content px-4 pb-8 pd-lg-t-70 mg-md-l-250">
          <a href="#" class="text-sm text-gray-400">Menu</a>
         <div class="pt-5">
            <!-- .section-block -->
             <div class="section-block text-center text-sm-left">
                 <h4>Profile Role</h4>
                 <hr />
                 <!--@if (!string.IsNullOrEmpty(_contentResult.Message))
    {
    <AlertMessage Success="@_contentResult.Success" Message="@_contentResult.Message" />
    }-->
                 <EditForm EditContext="@_editContext" OnSubmit="@HandleFormSubmit">
                     <FluentValidator TValidator="EditAccountPasswordValidator" />
                     <div class="visual-picker visual-picker-lg has-peek">
                         <!-- visual-picker input -->
                         <input type="checkbox" id="vpr01" name="vprLG"> <!-- .visual-picker-figure -->
                         <label class="visual-picker-figure" for="vpr01">
                             <!-- .visual-picker-content -->
                             <span class="visual-picker-content"><span class="h3 d-block">Free</span> <span>100GB Disk Space / 2GB Bandwidth</span></span> <!-- /.visual-picker-content -->
                         </label> <!-- /.visual-picker-figure -->
                         <!-- .visual-picker-peek -->
                         <span class="visual-picker-peek">Started</span>
                     </div><!-- /.visual-picker -->
                     <div class="visual-picker visual-picker-lg has-peek">
                         <!-- visual-picker input -->
                         <input type="checkbox" id="vpr02" name="vprLG"> <!-- .visual-picker-figure -->
                         <label class="visual-picker-figure" for="vpr02">
                             <!-- .visual-picker-content -->
                             <span class="visual-picker-content"><span class="h3 d-block">Free</span> <span>100GB Disk Space / 2GB Bandwidth</span></span> <!-- /.visual-picker-content -->
                         </label> <!-- /.visual-picker-figure -->
                         <!-- .visual-picker-peek -->
                         <span class="visual-picker-peek">Started</span>
                     </div><!-- /.visual-picker -->
                     <!-- .visual-picker -->
                     <div class="visual-picker visual-picker-lg has-peek">
                         <!-- visual-picker input -->
                         <input type="checkbox" id="vpr03" name="vprLG" checked> <!-- .visual-picker-figure -->
                         <label class="visual-picker-figure" for="vpr03">
                             <span class="visual-picker-content"><span class="h3 d-block">$49</span> <span>500GB Disk Space / 8GB Bandwidth</span></span> <!-- /.visual-picker-content -->
                         </label>
                         <span class="visual-picker-peek">Professional</span>
                     </div>
                     <div class="visual-picker visual-picker-lg has-peek">
                         <input type="checkbox" id="vpr04" name="vprLG">
                         <label class="visual-picker-figure" for="vpr04">
                             <!-- .visual-picker-content -->
                             <span class="visual-picker-content"><span class="h3 d-block">$99</span> <span>Unlimited Disk Space / Unlimited Bandwidth</span></span> <!-- /.visual-picker-content -->
                         </label> <!-- /.visual-picker-figure -->
                         <!-- .visual-picker-peek -->
                         <span class="visual-picker-peek">Bussiness</span>
                     </div><!-- /.visual-picker -->
                     <hr />

                     <div class="form-group">
                         <button type="submit" class="btn btn-primary">Update Password</button>
                     </div>
                 </EditForm><!-- /form -->
             </div>
            <!-- /.section-block -->
            <hr class="my-5">
            <!-- .section-block -->
         </div>
         <DashboardFooter />
      </div>
   </div>
</div>

@code {

    private EditContext _editContext; // edit context validation purposes
    private ProfileModelView _profileModel = new ProfileModelView(); // Profile model

    protected override void OnInitialized()
    {
        _editContext = new EditContext(_profileModel); // we bind edit context to profile model
    }

    private void HandleFormSubmit()
    {
        var isValid = _editContext.Validate();
    }
}
