﻿@layout DashBoardLayout
@page "/account/edit/two_factor-authentication/"

<div class="container">
   <div class="flex">
      <div class="wd-lg-250 d-none d-sm-block pr-4 bd-r pos-fixed overflow-y-auto t-0 b-0 mg-t-90">
          <Vone.Web.Shared.SComponents.SEditProfile />
      </div>
      <div class="content px-4 pb-8 pd-lg-t-70 mg-md-l-250">
          <a href="#" class="text-sm text-gray-400">Menu</a>
         <div class="pt-5">
            <!-- .section-block -->
             <div class="section-block text-center text-sm-left">
                 <h4>Profile Two-Factor Authentication (2FA)</h4>
                 <hr />
                 <!--@if (!string.IsNullOrEmpty(_contentResult.Message))
    {
    <AlertMessage Success="@_contentResult.Success" Message="@_contentResult.Message" />
    }-->
             <div class="form-row">
                 <a href="/account/edit/two_factor-authentication/sms" class="col-12 col-lg-6 d-lg-flex pb-1 mb-4">


                     <div class="card shadow-light-lg overflow-hidden">
                         <div class="row">
                             <div class="col-md-4 position-relative">


                                 <img src="https://landkit.goodthemes.co/assets/img/illustrations/illustration-8.png" class="h-75 position-absolute right-0 mt-7 mr-n4" alt="...">

                             </div>
                             <div class="col-md-8">


                                 <div class="card-body py-7 py-md-9 text-center">


                                     <h4 class="font-weight-bold">
                                         Authentication by sms
                                     </h4>


                                     <p class="text-muted mb-0">
                                         Will enable authentication by pin code sent to your phone by sms.
                                     </p>

                                 </div>

                             </div>
                         </div>
                     </div>

                 </a>
                 <a href="/account/edit/two_factor-authentication/totp" class="col-12 col-lg-6 d-lg-flex pb-1 mb-4">


                     <div class="card shadow-light-lg overflow-hidden text-center aos-init aos-animate" data-aos="fade-up">
                         <div class="row">
                             <div class="col-md-8">


                                 <div class="card-body py-7 py-md-9">


                                     <h4 class="font-weight-bold">
                                         Authentication by totp app
                                     </h4>


                                     <p class="text-muted mb-0">
                                         Will enable authentication by a third party app like google 2pass etc.
                                     </p>

                                 </div>

                             </div>
                             <div class="col-md-4">


                                 <img src="https://landkit.goodthemes.co/assets/img/illustrations/illustration-6.png" class="h-75 position-absolute left-0 mt-7" alt="...">

                             </div>
                         </div>
                     </div>

                 </a>
             </div>
             </div>
            <!-- /.section-block -->
            <hr class="my-5">
            <!-- .section-block -->
         </div>
         <DashboardFooter />
      </div>
   </div>
</div>

@{ var list = new List<string> { ".NET", "Python", "Java" }; }
<!--Dropdown TItem="string">
    <InitialTip>This is a dropdown list</InitialTip>
    <ChildContent>
        <NavLink class="nav-link" @onclick="@(e => Console.WriteLine("Hello, world!"))" href="/account/edit/fezg/">Informations</NavLink>
        <NavLink class="nav-link" @onclick="@(e => Console.WriteLine("Hello, world!"))" href="/account/edit/fezf/">Informations</NavLink>
        <NavLink class="nav-link" @onclick="@(e => Console.WriteLine("Hello, world!"))" href="/account/edit/fzefege/">Informations</NavLink>
        <div class="dropdown-divider"></div>
    </ChildContent>
</Dropdown-->

@code {

    private EditContext _editContext; // edit context validation purposes
    private ProfileModelView _profileModel = new ProfileModelView(); // Profile model

    protected override void OnInitialized()
    {
        _editContext = new EditContext(_profileModel); // we bind edit context to profile model
    }

    private void HandleFormSubmit()
    {
        var isValid = _editContext.Validate();
    }

    private void OnSelected(string selection)
    {
        Console.WriteLine(selection);
    }

    private void CloseOnFocusOut()
    {
        Console.WriteLine("selection");
    }
}
