﻿@layout DashBoardLayout
@page "/account/edit/two_factor-authentication/totp"

@inject HttpClient _http
@inject IJSRuntime _jSRuntime

<div class="container">
    <div class="flex">
        <div class="w-64 md:block hidden pr-4 bd-r fixed overflow-y-auto t-0 b-0 mt-16">
            <Vone.Web.Shared.SComponents.SEditProfile />
        </div>
        <div class="content px-4 pb-8 pt-4 md:ml-64">
            <a href="#" class="text-sm text-gray-400 md:hidden no-underline hover:underline">Menu</a>
            <div class="pt-5">


                <!-- .section-block -->
                <div class="pt-2 section-block text-center text-sm-left">
                    <h4>Enable authenticator</h4>
                    <hr />
                    <div>
                        <p>To use an authenticator app go through the following steps:</p>
                        <ol class="list">
                            <li>
                                <p>
                                    Download a two-factor authenticator app like Microsoft Authenticator for
                                    <a href="https://go.microsoft.com/fwlink/?Linkid=825071">Windows Phone</a>,
                                    <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> and
                                    <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> or
                                    Google Authenticator for
                                    <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> and
                                    <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
                                </p>
                            </li>
                            <li>
                                <p>Scan the QR Code or enter this key <kbd>@_shareKey</kbd> into your two factor authenticator app. Spaces and casing do not matter.</p>
                                <div class="alert alert-info">To enable QR code generation please read our <a href="https://go.microsoft.com/fwlink/?Linkid=852423">documentation</a>.</div>
                                <div id="qrCode"></div>
                            </li>
                            <li>
                                <p>
                                    Once you have scanned the QR code or input the key above, your two factor authentication app will provide you
                                    with a unique code. Enter the code in the confirmation box below.
                                </p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <form method="post">
                                            <div class="form-group">
                                                <label class="control-label" for="Code">Verification Code</label>
                                                <input class="form-control" autocomplete="off" type="text" data-val="true" data-val-length="The Verification Code must be at least 6 and at max 7 characters long." data-val-length-max="7" data-val-length-min="6" data-val-required="The Verification Code field is required." id="Code" name="Code" value="" />
                                                <span class="text-danger field-validation-valid" data-valmsg-for="Code" data-valmsg-replace="true"></span>
                                            </div>
                                            <button type="submit" class="btn btn-outline-primary">Verify</button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>



                </div><!-- /.section-block -->
                <hr class="my-5">
                <!-- .section-block -->


            </div>
            <div class="mt-16">
                <div class="md:flex md:items-center md:justify-between">
                    <div class="flex justify-center md:order-2">
                        <a href="https://twitter.com/phpstan" class="ml-6 text-gray-400 hover:text-gray-500" target="_blank" rel="noopener noreferrer">
                            <span class="sr-only">Twitter</span>
                            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
                            </svg>
                        </a>
                        <a href="https://phpstan.org/rss.xml" class="ml-6 text-gray-400 hover:text-gray-500" target="_blank">
                            <span class="sr-only">RSS</span>
                            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M6.503 20.752A3.25 3.25 0 013.252 24 3.25 3.25 0 010 20.752a3.25 3.25 0 013.252-3.248 3.25 3.25 0 013.251 3.248zM0 8.18v4.811c6.05.062 10.96 4.966 11.022 11.009h4.817C15.777 15.29 8.721 8.242 0 8.18zm0-3.368C10.58 4.858 19.152 13.406 19.183 24H24C23.97 10.769 13.245.046 0 0v4.812z" />
                            </svg>
                        </a>
                    </div>
                    <div class="mt-8 md:mt-0 md:order-1 flex items-center justify-center">
                        <div class="text-center text-base leading-6 text-gray-400">&copy; 2016–2020 Ondřej Mirtes</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    
    private string _shareKey;
    // private JObject _totpObject;

    /*private void HandleFormSubmit()
    {

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await GetTwoFactorAuthTotp();

        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task GetTwoFactorAuthTotp()
    {
        // (1) get totp parameter
        var _objectResult = await _http.GetFromJsonAsync<Object>($"api/TwoFactorAuth/totp");

        // (2) serialized result into a string
        string _serializedString = JsonSerializer.Serialize(_objectResult);

        // (3) parse string inot object
        _totpObject = JObject.Parse(_serializedString);

        // (4) bind shared key from (1) to 
        _shareKey = _totpObject["sharedKey"].ToString();

        // (5) bind authenticatorUri from (1) to qrcode passing parameter authenticatorUri
        await _jSRuntime.InvokeVoidAsync("WebLib.LoadQrCode", _totpObject["authenticatorUri"].ToString());

        StateHasChanged();
    }*/
}
