﻿@page "/auth/login"

@inject HttpClient _http
@inject NavigationManager _navigationManager

    <section class="content content-auth mg-md-t-70">
        <div class="container">
            <div class="media align-items-stretch justify-content-center ht-100p pos-relative">
                <div class="media-body align-items-center d-none d-lg-flex">
                    <div class="mx-wd-600">
                        <img src="/images/image_login.png" class="img-fluid" alt="">
                    </div>
                </div><!-- media-body -->
                <div class="sign-wrapper mg-lg-l-50 mg-xl-l-60">
                    <div class="pd-t-20 wd-100p">
                        <EditForm Model="@_profileModelView" OnSubmit="@HandleSubmit">
                            <FluentValidator TValidator="LoginValidator" />
                            <h3 class="tx-color-01 mg-b-5">Sign In</h3>
                            <p class="tx-color-03 tx-16 mg-b-40">Welcome back! Please signin to continue.</p>
                            @if (!string.IsNullOrEmpty(_apiResponse.Message))
                            {
                                <Vone.Web.Shared.Component.AlertMessage Success="@_apiResponse.IsSuccess" Message="@_apiResponse.Message" />
                            }
                            <div class="form-group">
                                <label for="inputEmail">Email address</label>
                                <InputText id="inputEmail" class="form-control" placeholder="Email" @bind-Value="_profileModelView.Email" />
                                <ValidationMessage For="@(() => _profileModelView.Email)" />
                            </div>
                            <div class="form-group">
                                <div class="d-flex justify-content-between mg-b-5">
                                    <label for="inputPassword">Password</label>
                                    <a href="/auth/recover/password/" class="tx-13">Forgot password?</a>
                                </div>
                                <InputText type="password" id="inputPassword" class="form-control" placeholder="Password" @bind-Value="_profileModelView.Password" />
                                <ValidationMessage For="@(() => _profileModelView.Password)" />
                            </div>
                            <button class="@_loadingButton btn btn-primary btn-block">Sign In</button>
                        </EditForm>
                        <div class="divider-text">or</div>
                        <button class="btn btn-outline-primary btn-block">Sign In With Facebook</button>
                        <button class="btn btn-outline-danger btn-block">Sign In With Google</button>
                        <div class="tx-13 mg-t-20 tx-center">Don't have an account? <a href="/auth/register/">Create an Account</a></div>
                    </div>
                </div><!-- sign-wrapper -->
            </div><!-- media -->
        </div><!-- container -->
    </section>


@code {
    // js (https://github.com/dotnet/AspNetCore.Docs/tree/master/aspnetcore/blazor/common/samples/3.x/BlazorServerSample)
    // fetch (https://docs.microsoft.com/en-us/aspnet/core/blazor/call-web-api?view=aspnetcore-3.1)
    // tuto (https://www.pragimtech.com/blog/blazor/call-rest-api-from-blazor/)
    private ProfileModelView _profileModelView = new ProfileModelView(); // Profile model
    private ApiResponse _apiResponse = new ApiResponse(); // to  display alert when success
    private bool _processing { get; set; } = false;
    string _loadingButton => _processing ? "loading" : null;

    private async Task HandleSubmit(EditContext _editContext)
    {
        _processing = true;
        var isValid = _editContext.Validate();

        if (isValid)
        {
            // we post the data
            var _response = await _http.PostAsJsonAsync("api/auth/login", _profileModelView);

            if (_response.IsSuccessStatusCode)
            {
                _apiResponse = JsonSerializer.Deserialize<ApiResponse>(await _response.Content.ReadAsStringAsync(), new JsonSerializerOptions { PropertyNameCaseInsensitive = true });

                if (_apiResponse.IsSuccess)
                {
                    var _profile = JObject.Parse(_apiResponse.ContentResult.ToString());
                    _navigationManager.NavigateTo(_profile["redirectUrl"].ToString());
                }

            }

        }

        _processing = false;
    }
}

