﻿@page "/auth/recover/password/"

@inject HttpClient _http

<section class="content content-auth mg-md-t-70">
    <div class="container">
        <div class="media align-items-stretch justify-content-center ht-100p pos-relative">
            <div class="media-body align-items-center d-none d-lg-flex">
                <div class="mx-wd-600">
                    <img src="/images/image_fpw.png" class="img-fluid" alt="">
                </div>
            </div><!-- media-body -->
            <div class="sign-wrapper mg-lg-l-50 mg-xl-l-60">
                <div class="pd-t-20 wd-100p">
                    <EditForm Model="@_profileModelView" OnSubmit="@HandleSubmit">
                        <FluentValidator TValidator="RecoverValidator" />
                        <h3 class="tx-color-01 mg-b-5">Recover password</h3>
                        <p class="tx-color-03 tx-16 mg-b-40">Welcome back! Please fill up your email to continue.</p>
                        @if (!string.IsNullOrEmpty(_apiResponse.Message))
                        {
                            <Vone.Web.Shared.Component.AlertMessage Success="@_apiResponse.IsSuccess" Message="@_apiResponse.Message" />
                        }
                        <div class="form-group">
                            <label>Email address</label>
                            <InputText id="inputEmail" class="form-control" placeholder="Email" @bind-Value="_profileModelView.Email" />
                            <ValidationMessage For="@(() => _profileModelView.Email)" />
                        </div>
                        <button class="@_loadingButton btn btn-primary btn-block">Recover password</button>
                    </EditForm>
                    <div class="divider-text">or</div>
                    <button class="btn btn-outline-primary btn-block">Sign In With Facebook</button>
                    <button class="btn btn-outline-danger btn-block">Sign In With Google</button>
                    <div class="tx-13 mg-t-20 tx-center">Don't have an account? <a href="/auth/register/">Create an Account</a></div>
                </div>
            </div><!-- sign-wrapper -->
        </div><!-- media -->
    </div><!-- container -->
</section>

@code {
    private ProfileModelView _profileModelView = new ProfileModelView(); // Profile model
    private ApiResponse _apiResponse = new ApiResponse(); // to  display alert when success
    private bool _processing { get; set; } = false;
    string _loadingButton => _processing ? "loading" : null;
    private static Random random = new Random(); // to generate a token

    private async Task HandleSubmit(EditContext _editContext)
    {
        _processing = true;
        var isValid = _editContext.Validate();

        if (isValid)
        {
            _profileModelView = await _http.GetFromJsonAsync<ProfileModelView>($"api/profiles/email/{_profileModelView.Email}");
            _profileModelView.TokenId = RandomString(24); // generate token
            await _http.PutAsJsonAsync($"api/profiles/{_profileModelView.Id}?isEmailToSend=true", _profileModelView);

            _apiResponse.Message = $"An Email has been sent to {_profileModelView.Email}";
            _apiResponse.IsSuccess = true;

            _profileModelView = new ProfileModelView(); // clear the form
            _editContext = new EditContext(_profileModelView); // clear validation
        }

        _processing = false;
    }

    // private function to generate characters (for the token)
    private static String RandomString(int length)
    {
        const String chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789abcdefghijklmnopqrstuvwxyz$@";
        return new String(Enumerable.Repeat(chars, length)
              .Select(s => s[random.Next(s.Length)]).ToArray());
    }
}

