﻿@page "/auth/register"

@inject HttpClient _http
@inject IHttpContextAccessor _accessor

<section class="content content-auth mg-md-t-70">
    <div class="container">
        <div class="media align-items-stretch justify-content-center ht-100p pos-relative">
            <div class="media-body align-items-center d-none d-lg-flex">
                <div class="mx-wd-600">
                    <img src="/images/image_registration.png" class="img-fluid" alt="">
                </div>
            </div><!-- media-body -->
            <div class="sign-wrapper mg-lg-l-50 mg-xl-l-60">
                <div class="pd-t-20 wd-100p">

                    <h4 class="tx-color-01 mg-b-5">Create New Account</h4>
                    <p class="tx-color-03 tx-16 mg-b-40">It's free to signup and only takes a minute.</p>
                    <EditForm Model="@_profileModelView" OnSubmit="@HandleFormSubmit">
                        <FluentValidator TValidator="RegisterValidator" />
                        @if (!string.IsNullOrEmpty(_apiResponse.Message))
                        {
                            <Vone.Web.Shared.Component.AlertMessage Success="@_apiResponse.IsSuccess" Message="@_apiResponse.Message" />
                        }
                        <div class="form-group">
                            <label>Firstname</label>
                            <InputText class="form-control" placeholder="Enter your firstname" @bind-Value="_profileModelView.FirstName" />
                            <ValidationMessage For="@(() => _profileModelView.FirstName)" />
                        </div>
                        <div class="form-group">
                            <label>Lastname</label>
                            <InputText class="form-control" placeholder="Enter your lastname" @bind-Value="_profileModelView.LastName" />
                            <ValidationMessage For="@(() => _profileModelView.LastName)" />
                        </div>
                        <div class="form-group">
                            <label>Email address</label>
                            <InputText class="form-control" placeholder="Enter your email address" @bind-Value="_profileModelView.Email" />
                            <ValidationMessage For="@(() => _profileModelView.Email)" />
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <InputText type="password" class="form-control" placeholder="Enter your password" @bind-Value="_profileModelView.Password" />
                            <ValidationMessage For="@(() => _profileModelView.Password)" />
                        </div>
                        <div class="form-group tx-12">
                            By clicking <strong>Create an account</strong> below, you agree to our terms of service and privacy statement.
                        </div><!-- form-group -->

                        <button class="@_loadingButton btn btn-primary btn-block">Create Account</button>
                    </EditForm>
                    <div class="divider-text">or</div>
                    <button class="btn btn-outline-primary btn-block">Sign Up With Facebook</button>
                    <button class="btn btn-outline-danger btn-block">Sign Up With Google</button>
                    <div class="tx-13 mg-t-20 tx-center">Already have an account? <a href="/auth/login/">Sign In</a></div>
                </div>
            </div><!-- sign-wrapper -->
        </div><!-- media -->
    </div><!-- container -->
</section>

@code {
    private ProfileModelView _profileModelView { get; set; } = new ProfileModelView(); // Profile model
    private ApiResponse _apiResponse = new ApiResponse(); // to  display alert when success
    private bool _processing;
    string _loadingButton => _processing ? "loading" : null;
    private bool showPassword;

    [Parameter]
    public EventCallback<string> PasswordChanged { get; set; }


    private async Task HandleFormSubmit(EditContext _editContext)
    {
        _processing = true;
        var isValid = _editContext.Validate();

        if (isValid)
        {
            // we bind values manually
            _profileModelView.IpAddress = _accessor.HttpContext.Connection.RemoteIpAddress.ToString();

            // we post the data
            var _response = await _http.PostAsJsonAsync($"api/Profiles", _profileModelView);

            // we show success message
            _apiResponse.Message = $"A Message has been sent to your email {_profileModelView.Email}";
            _apiResponse.IsSuccess = true;

            _profileModelView = new ProfileModelView(); // clear the form
        }

        _processing = false;
    }

    private Task OnPasswordChanged(ChangeEventArgs e)
    {
        // EventCallback.Factory.CreateBinder<string>(this, __value => CurrentValueAsString = __value, CurrentValueAsString)

        _profileModelView.Password = e.Value.ToString();

        return PasswordChanged.InvokeAsync(_profileModelView.Password);
    }

    private void ToggleShowPassword()
    {
        showPassword = !showPassword;
    }
}
