/*
 * Dashforge Auth Pages (Signin, Signup, etc.)
 *
 * This style is use in auth pages.
 *
 */




.sign-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 340px; }
  @media (min-width: 1200px) {
    .sign-wrapper {
      width: 340px; } }
  .sign-wrapper .form-group label {
    display: block;
    margin-bottom: 5px; }
