.dropdown,
.dropleft,
.dropright,
.dropup {
    position: relative
}

.dropdown-toggle {
    white-space: nowrap
}

.dropdown-toggle:after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent
}

.dropdown-toggle:empty:after {
    margin-left: 0
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #363642;
    text-align: left;
    list-style: none;
    background-color: hsla(0, 0%, 100%, .98);
    background-clip: padding-box;
    border: 1px solid rgba(20, 20, 31, .15);
    border-radius: .25rem
}

.dropdown-menu-left {
    right: auto;
    left: 0
}

.dropdown-menu-right {
    right: 0;
    left: auto
}

@media (min-width:576px) {
    .dropdown-menu-sm-left {
        right: auto;
        left: 0
    }

    .dropdown-menu-sm-right {
        right: 0;
        left: auto
    }
}

@media (min-width:768px) {
    .dropdown-menu-md-left {
        right: auto;
        left: 0
    }

    .dropdown-menu-md-right {
        right: 0;
        left: auto
    }
}

@media (min-width:992px) {
    .dropdown-menu-lg-left {
        right: auto;
        left: 0
    }

    .dropdown-menu-lg-right {
        right: 0;
        left: auto
    }
}

@media (min-width:1200px) {
    .dropdown-menu-xl-left {
        right: auto;
        left: 0
    }

    .dropdown-menu-xl-right {
        right: 0;
        left: auto
    }
}

.dropup .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: .125rem
}

.dropup .dropdown-toggle:after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 0;
    border-right: .3em solid transparent;
    border-bottom: .3em solid;
    border-left: .3em solid transparent
}

.dropup .dropdown-toggle:empty:after {
    margin-left: 0
}

.dropright .dropdown-menu {
    top: 0;
    right: auto;
    left: 100%;
    margin-top: 0;
    margin-left: .125rem
}

.dropright .dropdown-toggle:after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid transparent;
    border-right: 0;
    border-bottom: .3em solid transparent;
    border-left: .3em solid
}

.dropright .dropdown-toggle:empty:after {
    margin-left: 0
}

.dropright .dropdown-toggle:after {
    vertical-align: 0
}

.dropleft .dropdown-menu {
    top: 0;
    right: 100%;
    left: auto;
    margin-top: 0;
    margin-right: .125rem
}

.dropleft .dropdown-toggle:after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    display: none
}

.dropleft .dropdown-toggle:before {
    display: inline-block;
    margin-right: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid transparent;
    border-right: .3em solid;
    border-bottom: .3em solid transparent
}

.dropleft .dropdown-toggle:empty:after {
    margin-left: 0
}

.dropleft .dropdown-toggle:before {
    vertical-align: 0
}

.dropdown-menu[x-placement^=bottom],
.dropdown-menu[x-placement^=left],
.dropdown-menu[x-placement^=right],
.dropdown-menu[x-placement^=top] {
    right: auto;
    bottom: auto
}

.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #e6e8ed
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .5rem 1rem;
    clear: both;
    font-weight: 400;
    color: #191927;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #346cb0
}

.dropdown-item.disabled,
.dropdown-item:disabled {
    color: #888c9b;
    pointer-events: none;
    background-color: transparent
}

.dropdown-menu.show {
    display: block
}

.dropdown-header {
    display: block;
    padding: .5rem 1rem;
    margin-bottom: 0;
    font-size: .875rem;
    color: #888c9b;
    white-space: nowrap
}

.dropdown-item-text {
    display: block;
    padding: .5rem 1rem;
    color: #191927
}

.btn-group,
.btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle
}

.btn-group-vertical > .btn,
.btn-group > .btn {
    position: relative;
    flex: 1 1 auto
}

.btn-group-vertical > .btn.active,
.btn-group-vertical > .btn:active,
.btn-group-vertical > .btn:focus,
.btn-group-vertical > .btn:hover,
.btn-group > .btn.active,
.btn-group > .btn:active,
.btn-group > .btn:focus,
.btn-group > .btn:hover {
    z-index: 1
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0
}

.list-group-item-action {
    width: 100%;
    color: #363642;
    text-align: inherit
}

.list-group-item-action:focus,
.list-group-item-action:hover {
    z-index: 1;
    color: #363642;
    text-decoration: none;
    background-color: #f6f7f9
}

.list-group-item-action:active {
    color: #363642;
    background-color: #e6e8ed
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1rem;
    background-color: #fff;
    border: 1px solid #ecedf1
}

.list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
}

.list-group-item:last-child {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem
}

.list-group-item.disabled,
.list-group-item:disabled {
    color: #888c9b;
    pointer-events: none;
    background-color: #fff
}

.list-group-item.active {
    z-index: 2;
    background-color: #fff;
    border-color: #346cb0
}

.list-group-item + .list-group-item {
    border-top-width: 0
}

.list-group-item + .list-group-item.active {
    margin-top: -1px;
    border-top-width: 1px
}

.list-group-horizontal {
    flex-direction: row
}

.list-group-horizontal .list-group-item:first-child {
    border-bottom-left-radius: .25rem;
    border-top-right-radius: 0
}

.list-group-horizontal .list-group-item:last-child {
    border-top-right-radius: .25rem;
    border-bottom-left-radius: 0
}

.list-group-horizontal .list-group-item.active {
    margin-top: 0
}

.list-group-horizontal .list-group-item + .list-group-item {
    border-top-width: 1px;
    border-left-width: 0
}

.list-group-horizontal .list-group-item + .list-group-item.active {
    margin-left: -1px;
    border-left-width: 1px
}

@media (min-width:576px) {
    .list-group-horizontal-sm {
        flex-direction: row
    }

    .list-group-horizontal-sm .list-group-item:first-child {
        border-bottom-left-radius: .25rem;
        border-top-right-radius: 0
    }

    .list-group-horizontal-sm .list-group-item:last-child {
        border-top-right-radius: .25rem;
        border-bottom-left-radius: 0
    }

    .list-group-horizontal-sm .list-group-item.active {
        margin-top: 0
    }

    .list-group-horizontal-sm .list-group-item + .list-group-item {
        border-top-width: 1px;
        border-left-width: 0
    }

    .list-group-horizontal-sm .list-group-item + .list-group-item.active {
        margin-left: -1px;
        border-left-width: 1px
    }
}

@media (min-width:768px) {
    .list-group-horizontal-md {
        flex-direction: row
    }

    .list-group-horizontal-md .list-group-item:first-child {
        border-bottom-left-radius: .25rem;
        border-top-right-radius: 0
    }

    .list-group-horizontal-md .list-group-item:last-child {
        border-top-right-radius: .25rem;
        border-bottom-left-radius: 0
    }

    .list-group-horizontal-md .list-group-item.active {
        margin-top: 0
    }

    .list-group-horizontal-md .list-group-item + .list-group-item {
        border-top-width: 1px;
        border-left-width: 0
    }

    .list-group-horizontal-md .list-group-item + .list-group-item.active {
        margin-left: -1px;
        border-left-width: 1px
    }
}

@media (min-width:992px) {
    .list-group-horizontal-lg {
        flex-direction: row
    }

    .list-group-horizontal-lg .list-group-item:first-child {
        border-bottom-left-radius: .25rem;
        border-top-right-radius: 0
    }

    .list-group-horizontal-lg .list-group-item:last-child {
        border-top-right-radius: .25rem;
        border-bottom-left-radius: 0
    }

    .list-group-horizontal-lg .list-group-item.active {
        margin-top: 0
    }

    .list-group-horizontal-lg .list-group-item + .list-group-item {
        border-top-width: 1px;
        border-left-width: 0
    }

    .list-group-horizontal-lg .list-group-item + .list-group-item.active {
        margin-left: -1px;
        border-left-width: 1px
    }
}

@media (min-width:1200px) {
    .list-group-horizontal-xl {
        flex-direction: row
    }

    .list-group-horizontal-xl .list-group-item:first-child {
        border-bottom-left-radius: .25rem;
        border-top-right-radius: 0
    }

    .list-group-horizontal-xl .list-group-item:last-child {
        border-top-right-radius: .25rem;
        border-bottom-left-radius: 0
    }

    .list-group-horizontal-xl .list-group-item.active {
        margin-top: 0
    }

    .list-group-horizontal-xl .list-group-item + .list-group-item {
        border-top-width: 1px;
        border-left-width: 0
    }

    .list-group-horizontal-xl .list-group-item + .list-group-item.active {
        margin-left: -1px;
        border-left-width: 1px
    }
}

.list-group-flush .list-group-item {
    border-right-width: 0;
    border-left-width: 0;
    border-radius: 0
}

.list-group-flush .list-group-item:first-child {
    border-top-width: 0
}

.list-group-flush:last-child .list-group-item:last-child {
    border-bottom-width: 0
}

.list-group-item-primary {
    color: #25426a;
    background-color: #c6d6e9
}

.list-group-item-primary.list-group-item-action:focus,
.list-group-item-primary.list-group-item-action:hover {
    color: #25426a;
    background-color: #b4c9e2
}

.list-group-item-primary.list-group-item-action.active {
    color: #fff;
    background-color: #25426a;
    border-color: #25426a
}

.list-group-item-secondary {
    color: #8a8a90;
    background-color: #fcfdfd
}

.list-group-item-secondary.list-group-item-action:focus,
.list-group-item-secondary.list-group-item-action:hover {
    color: #8a8a90;
    background-color: #edf3f3
}

.list-group-item-secondary.list-group-item-action.active {
    color: #fff;
    background-color: #8a8a90;
    border-color: #8a8a90
}

.list-group-item-success {
    color: #0a5e57;
    background-color: #b8e5de
}

.list-group-item-success.list-group-item-action:focus,
.list-group-item-success.list-group-item-action:hover {
    color: #0a5e57;
    background-color: #a5ded5
}

.list-group-item-success.list-group-item-action.active {
    color: #fff;
    background-color: #0a5e57;
    border-color: #0a5e57
}

.list-group-item-info {
    color: #0a4966;
    background-color: #b8d9e7
}

.list-group-item-info.list-group-item-action:focus,
.list-group-item-info.list-group-item-action:hover {
    color: #0a4966;
    background-color: #a5cfe1
}

.list-group-item-info.list-group-item-action.active {
    color: #fff;
    background-color: #0a4966;
    border-color: #0a4966
}

.list-group-item-warning {
    color: #8a7047;
    background-color: #fdeed6
}

.list-group-item-warning.list-group-item-action:focus,
.list-group-item-warning.list-group-item-action:hover {
    color: #8a7047;
    background-color: #fce4be
}

.list-group-item-warning.list-group-item-action.active {
    color: #fff;
    background-color: #8a7047;
    border-color: #8a7047
}

.list-group-item-danger {
    color: #694164;
    background-color: #ebd6e5
}

.list-group-item-danger.list-group-item-action:focus,
.list-group-item-danger.list-group-item-action:hover {
    color: #694164;
    background-color: #e3c5da
}

.list-group-item-danger.list-group-item-action.active {
    color: #fff;
    background-color: #694164;
    border-color: #694164
}

.list-group-item-light {
    color: #8a8a90;
    background-color: #fcfdfd
}

.list-group-item-light.list-group-item-action:focus,
.list-group-item-light.list-group-item-action:hover {
    color: #8a8a90;
    background-color: #edf3f3
}

.list-group-item-light.list-group-item-action.active {
    color: #fff;
    background-color: #8a8a90;
    border-color: #8a8a90
}

.list-group-item-dark {
    color: #1b1b28;
    background-color: #c1c1c5
}

.list-group-item-dark.list-group-item-action:focus,
.list-group-item-dark.list-group-item-action:hover {
    color: #1b1b28;
    background-color: #b4b4b9
}

.list-group-item-dark.list-group-item-action.active {
    color: #fff;
    background-color: #1b1b28;
    border-color: #1b1b28
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #888c9b;
    text-shadow: none;
    opacity: .5
}

.close:hover {
    color: #888c9b;
    text-decoration: none
}

.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
    opacity: .75
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

a.close.disabled {
    pointer-events: none
}

.toast {
    max-width: 350px;
    overflow: hidden;
    font-size: .875rem;
    background-color: hsla(0, 0%, 100%, .85);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 .25rem .75rem rgba(20, 20, 31, .1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 0;
    border-radius: .25rem
}

.toast:not(:last-child) {
    margin-bottom: .75rem
}

.toast.showing {
    opacity: 1
}

.toast.show {
    display: block;
    opacity: 1
}

.toast.hide {
    display: none
}

.btn-account {
    position: relative;
    display: flex;
    margin: 0;
    border: 0;
    flex-wrap: none;
    align-items: center;
    background: none;
    color: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    transition: background-color .15s;
    outline: 0
}

.btn-account:focus,
.btn-account:hover {
    color: inherit;
    text-decoration: none
}

.btn-account.focus,
.btn-account.show,
.btn-account:active,
.btn-account:focus {
    outline: 0
}

.btn-account > .has-badge,
.btn-account > .user-avatar {
    margin-right: .75rem
}

.btn-account .account-summary {
    margin-right: .75rem;
    display: block;
    text-align: left;
    flex: 1;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap
}

.btn-account .account-description,
.btn-account .account-name {
    margin: 0;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    line-height: 1rem
}

.btn-account .account-description {
    font-size: .75rem;
    font-weight: 400;
    opacity: .7
}





.list-group {
    border: 0;
    box-shadow: 0 0 0 1px rgba(20, 20, 31, .05), 0 1px 3px 0 rgba(20, 20, 31, .15)
}

.list-group-flush,
.list-group-reflow {
    box-shadow: none
}

.list-group-fluid .list-group-item {
    padding-right: 0;
    padding-left: 0
}

.list-group-header {
    margin: 0;
    padding: .75rem 1rem;
    display: flex;
    font-size: .75rem;
    font-weight: 600;
    color: #888c9b;
    background-color: #fff
}

.list-group-header:not(:first-child) {
    margin-top: 1px;
    border-top: 1px solid #ecedf1
}

.list-group-header + .list-group-item .list-group-item-body {
    border-top-color: transparent !important
}

.list-group-item {
    display: flex;
    align-items: stretch;
    border-width: 1px 0;
    border-color: transparent;
    outline: 0
}

.list-group-item.active {
    color: #363642;
    border-color: transparent;
    border-radius: 0 !important;
    box-shadow: inset 4px 0 0 0 #346cb0
}

.list-group-item.active .list-group-item-text {
    color: #363642
}

.list-group-item-action:focus .list-group-item-text,
.list-group-item-action:hover .list-group-item-text {
    color: #363642
}


.list-group-item-body {
    flex: 1;
    min-width: 0;
    align-self: center;
    font-size: .875rem
}

.list-group-item-title {
    font-size: 1rem
}

.list-group-item-subtitle,
.list-group-item-title {
    margin: 0;
    line-height: 1.25rem;
    font-weight: 400;
    color: #363642
}

.list-group-item-subtitle {
    font-size: inherit
}

.list-group-item-subtitle > a,
.list-group-item-title > a,
a.list-group-item-subtitle,
a.list-group-item-title {
    color: #222230
}

.list-group-item-subtitle > a:focus,
.list-group-item-subtitle > a:hover,
.list-group-item-title > a:focus,
.list-group-item-title > a:hover,
a.list-group-item-subtitle:focus,
a.list-group-item-subtitle:hover,
a.list-group-item-title:focus,
a.list-group-item-title:hover {
    color: #363642;
    text-decoration: none
}

.list-group-item-text {
    margin-bottom: 0;
    line-height: 1.25rem;
    color: #888c9b
}

.list-group-item.custom-control .custom-control-label {
    width: 100%
}

.list-group-item.custom-control .custom-control-label:after,
.list-group-item.custom-control .custom-control-label:before {
    top: .125rem;
    right: .125rem;
    left: auto
}

.list-group-item.custom-select {
    height: auto;
    box-shadow: none;
    border-radius: 0
}

.list-group-item.custom-select:focus {
    box-shadow: none
}

.list-group-item-danger,
.list-group-item-dark,
.list-group-item-info,
.list-group-item-light,
.list-group-item-primary,
.list-group-item-secondary,
.list-group-item-success,
.list-group-item-warning {
    color: #363642;
    background-color: #fff;
    border-color: #ecedf1;
    border-radius: 0 !important
}

.list-group-item-danger.list-group-item-action,
.list-group-item-dark.list-group-item-action,
.list-group-item-info.list-group-item-action,
.list-group-item-light.list-group-item-action,
.list-group-item-primary.list-group-item-action,
.list-group-item-secondary.list-group-item-action,
.list-group-item-success.list-group-item-action,
.list-group-item-warning.list-group-item-action {
    color: #363642
}

.list-group-item-danger.list-group-item-action:focus,
.list-group-item-danger.list-group-item-action:hover,
.list-group-item-dark.list-group-item-action:focus,
.list-group-item-dark.list-group-item-action:hover,
.list-group-item-info.list-group-item-action:focus,
.list-group-item-info.list-group-item-action:hover,
.list-group-item-light.list-group-item-action:focus,
.list-group-item-light.list-group-item-action:hover,
.list-group-item-primary.list-group-item-action:focus,
.list-group-item-primary.list-group-item-action:hover,
.list-group-item-secondary.list-group-item-action:focus,
.list-group-item-secondary.list-group-item-action:hover,
.list-group-item-success.list-group-item-action:focus,
.list-group-item-success.list-group-item-action:hover,
.list-group-item-warning.list-group-item-action:focus,
.list-group-item-warning.list-group-item-action:hover {
    color: #363642;
    background-color: #f6f7f9
}

.list-group-item-danger.list-group-item-action.active,
.list-group-item-dark.list-group-item-action.active,
.list-group-item-info.list-group-item-action.active,
.list-group-item-light.list-group-item-action.active,
.list-group-item-primary.list-group-item-action.active,
.list-group-item-secondary.list-group-item-action.active,
.list-group-item-success.list-group-item-action.active,
.list-group-item-warning.list-group-item-action.active {
    border-color: #ecedf1;
    border-radius: 0 !important;
    box-shadow: inset 4px 0 0 0 #346cb0
}

.list-group-item-primary {
    box-shadow: inset 4px 0 0 0 #346cb0
}

.list-group-item-secondary {
    box-shadow: inset 4px 0 0 0 #f6f7f9
}

.list-group-item-success {
    box-shadow: inset 4px 0 0 0 #00a28a
}

.list-group-item-info {
    box-shadow: inset 4px 0 0 0 #0179a8
}

.list-group-item-warning {
    box-shadow: inset 4px 0 0 0 #f7c46c
}

.list-group-item-danger {
    box-shadow: inset 4px 0 0 0 #b76ba3
}

.list-group-item-light {
    box-shadow: inset 4px 0 0 0 #f6f7f9
}

.list-group-item-dark {
    box-shadow: inset 4px 0 0 0 #222230
}

.list-group-bordered .list-group-header {
    border-top: 0
}

.list-group-bordered .list-group-item {
    border-color: #ecedf1
}

.list-group-divider .list-group-item {
    margin-top: 0;
    padding: 0;
    border-bottom: 0
}

.list-group-divider .list-group-item.active {
    border-color: transparent
}

.list-group-divider .list-group-item:not(:first-child) > .list-group-item-body {
    border-top: 1px solid #ecedf1
}

.list-group-divider .list-group-item-body {
    padding: .75rem 0
}

.list-group-divider .list-group-item-body:first-child {
    padding-left: 1rem
}

.list-group-divider .list-group-item-body:last-child {
    padding-right: 1rem
}

.list-group-media {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0
}

.list-group-media .list-group-item {
    margin-bottom: 0;
    padding: 0;
    border: 0;
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0 0 0 1px rgba(20, 20, 31, .05), 0 1px 3px 0 rgba(20, 20, 31, .15)
}

.list-group-media .list-group-item:not(:first-child) {
    margin-top: 1rem
}

.list-group-media .list-group-item-action:focus,
.list-group-media .list-group-item-action:hover {
    background-color: #fff
}


.list-group-media .list-group-item-body {
    padding: 1.5rem 1rem
}

.list-group-media .list-group-item-title {
    margin-bottom: .5rem;
    font-weight: 700
}




.dropdown-menu {
    margin-top: 10px;
    border: 0;
    font-weight: 400;
    box-shadow: 0 0 0 1px rgba(20, 20, 31, .05), 0 2px 7px 1px rgba(20, 20, 31, .16);
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.dropdown-menu[x-placement=top-end],
.dropdown-menu[x-placement=top-start] {
    margin-top: auto;
    margin-bottom: 10px
}

.dropdown-menu[x-placement=right-end],
.dropdown-menu[x-placement=right-start] {
    margin-top: auto;
    margin-left: 10px
}

.dropdown-menu[x-placement=left-end],
.dropdown-menu[x-placement=left-start] {
    margin-top: auto;
    margin-right: 10px
}

@media (min-width:768px) {
    .dropdown-menu {
        font-size: .875rem
    }
}

.dropdown-menu.show {
    -webkit-animation-name: showDropdown;
    animation-name: showDropdown
}

.dropdown-menu-rich {
    width: 20rem
}

.dropdown-menu-md {
    width: 18rem
}

.dropdown-menu-lg {
    width: 24rem
}

.dropdown-menu-xl {
    width: 30rem
}

.dropdown-menu .dropdown-toggle:after {
    margin-left: auto
}

.dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.dropdown-header > a,
.dropdown-header > a:focus,
.dropdown-header > a:hover {
    font-weight: 400;
    font-size: .75rem;
    color: #888c9b
}

.dropdown-icon {
    margin-right: .25rem;
    color: #a6abbd;
    width: 1.25rem
}

.dropdown-item.active .date,
.dropdown-item.active .dropdown-icon,
.dropdown-item.active .subject,
.dropdown-item.active .text,
.dropdown-item.active .text-muted,
.dropdown-item.active.unread .subject,
.dropdown-item.active.unread .text,
.dropdown-item.focus .date,
.dropdown-item.focus .dropdown-icon,
.dropdown-item.focus .subject,
.dropdown-item.focus .text,
.dropdown-item.focus .text-muted,
.dropdown-item.focus.unread .subject,
.dropdown-item.focus.unread .text,
.dropdown-item:active .date,
.dropdown-item:active .dropdown-icon,
.dropdown-item:active .subject,
.dropdown-item:active .text,
.dropdown-item:active .text-muted,
.dropdown-item:active.unread .subject,
.dropdown-item:active.unread .text,
.dropdown-item:focus .date,
.dropdown-item:focus .dropdown-icon,
.dropdown-item:focus .subject,
.dropdown-item:focus .text,
.dropdown-item:focus .text-muted,
.dropdown-item:focus.unread .subject,
.dropdown-item:focus.unread .text,
.dropdown-item:hover .date,
.dropdown-item:hover .dropdown-icon,
.dropdown-item:hover .subject,
.dropdown-item:hover .text,
.dropdown-item:hover .text-muted,
.dropdown-item:hover.unread .subject,
.dropdown-item:hover.unread .text {
    color: inherit
}

.dropdown-item.active .text-muted,
.dropdown-item.focus .text-muted,
.dropdown-item:active .text-muted,
.dropdown-item:focus .text-muted,
.dropdown-item:hover .text-muted {
    opacity: .87
}

.dropdown-item.unread .subject,
.dropdown-item.unread .text {
    font-weight: 600;
    color: #363642
}

.dropdown-item .date,
.dropdown-item .subject,
.dropdown-item .text {
    margin-bottom: 0;
    line-height: 1.4
}

.dropdown-item .subject {
    font-size: .75rem;
    color: #222230
}

.dropdown-item .text {
    font-size: .875rem;
    color: #222230
}

.dropdown-item .date {
    font-size: .75rem;
    color: #888c9b
}

.dropdown-arrow {
    top: 0;
    overflow: hidden;
    height: 1.25rem;
    width: 1.25rem;
    z-index: 1001;
    transform: translate3d(0, -100%, 0)
}

.dropdown-arrow,
.dropdown-arrow:before {
    display: block;
    position: absolute;
    left: .5rem;
    pointer-events: none
}

.dropdown-arrow:before {
    content: "";
    bottom: -.375rem;
    transform: rotate(45deg);
    height: .75rem;
    width: .75rem;
    margin-left: -5px;
    background-color: hsla(0, 0%, 100%, .98);
    box-shadow: 0 0 0 1px rgba(20, 20, 31, .05), 0 2px 7px 1px rgba(20, 20, 31, .16)
}

[x-placement=top-end] > .dropdown-arrow,
[x-placement=top-start] > .dropdown-arrow {
    top: auto;
    bottom: 0;
    transform: translate3d(0, 100%, 0)
}

[x-placement=top-end] > .dropdown-arrow:before,
[x-placement=top-start] > .dropdown-arrow:before {
    top: -.375rem;
    bottom: auto
}

[x-placement=right-start] > .dropdown-arrow {
    top: .5rem;
    left: 0;
    transform: translate3d(-100%, 0, 0)
}

[x-placement=right-start] > .dropdown-arrow:before {
    bottom: .375rem;
    right: 0;
    left: auto;
    margin-right: -.375rem;
    margin-left: auto
}

[x-placement=left-start] > .dropdown-arrow {
    top: .5rem;
    right: 0;
    left: auto;
    transform: translate3d(100%, 0, 0)
}

[x-placement=left-start] > .dropdown-arrow:before {
    bottom: .375rem;
    left: 0;
    margin-left: -.375rem
}

.dropdown-arrow-right,
.dropdown-menu-right > .dropdown-arrow {
    left: auto;
    right: .5rem
}

.dropdown-arrow-left {
    left: .5rem
}

.dropdown-sheets {
    padding: 1.5rem 0 0;
    display: flex;
    flex-flow: row wrap
}

.dropdown-sheets .dropdown-sheet-item {
    margin-bottom: 1.5rem;
    color: #888c9b;
    width: 33.33333%;
    text-align: center
}

.dropdown-sheets .dropdown-sheet-item:focus,
.dropdown-sheets .dropdown-sheet-item:hover {
    text-decoration: none
}

.dropdown-menu-rich {
    padding: 0
}

.dropdown-menu-rich .dropdown-header {
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-bottom: 1px solid rgba(34, 34, 48, .1)
}

.dropdown-menu-rich .dropdown-item {
    padding-top: .75rem;
    padding-bottom: .75rem;
    display: flex;
    align-items: flex-start
}

.dropdown-menu-rich .dropdown-item:not(:first-child) {
    border-top: 1px solid rgba(34, 34, 48, .1)
}

.dropdown-menu-rich .dropdown-item-body {
    flex: 1;
    white-space: normal;
    min-width: 0
}

.dropdown-menu-rich .dropdown-item-body:not(:first-child) {
    padding-left: 1rem
}

.dropdown-menu-rich .dropdown-item-body:not(:last-child) {
    padding-right: 1rem
}

.dropdown-menu-rich .dropdown-icon {
    margin-right: 0
}

.dropdown-scroll {
    position: relative;
    overflow-y: auto;
    height: 263px
}

.dropdown-footer {
    margin: 0;
    display: block;
    padding: .75rem 1rem;
    font-size: .875rem;
    text-align: center;
    border-top: 1px solid rgba(34, 34, 48, .1);
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem
}

.dropdown-footer:focus,
.dropdown-footer:hover {
    text-decoration: none;
    background-color: #f6f7f9
}

@-webkit-keyframes showDropdown {
    0% {
        opacity: 0;
        transform: scale(.8)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes showDropdown {
    0% {
        opacity: 0;
        transform: scale(.8)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

.dropdown-menu > .custom-control,
.dropdown-scroll > .custom-control {
    margin-bottom: 0;
    padding: .5rem 1rem .5rem 1.5rem
}

.dropdown-menu > .custom-control .custom-control-label,
.dropdown-scroll > .custom-control .custom-control-label {
    display: block;
    cursor: pointer
}

.dropdown-menu > .custom-control .custom-control-label:after,
.dropdown-menu > .custom-control .custom-control-label:before,
.dropdown-scroll > .custom-control .custom-control-label:after,
.dropdown-scroll > .custom-control .custom-control-label:before {
    left: -1.25rem
}

.dropdown-menu > .custom-control .custom-control-label:before,
.dropdown-scroll > .custom-control .custom-control-label:before {
    border: none;
    background: transparent !important;
    box-shadow: none
}

.dropdown-menu > .custom-control .custom-control-input:checked ~ .custom-control-label:after,
.dropdown-scroll > .custom-control .custom-control-input:checked ~ .custom-control-label:after {
    transform: scale(1.2)
}

@media (min-width:768px) {
    .macos .dropdown-menu .custom-control-label:after,
    .macos .dropdown-menu .custom-control-label:before,
    .macos .dropdown-scroll .custom-control-label:after,
    .macos .dropdown-scroll .custom-control-label:before {
        top: .2rem
    }
}

.progress {
    font-weight: 600
}

.card > .progress {
    border-radius: 0
}

.progress-xs {
    height: 3px
}

.progress-sm {
    height: .5rem
}

.progress-lg {
    height: 1.5rem
}









.bg-twitter {
    color: #fff !important
}

.text-twitter {
    color: #00a9f1 !important
}

a.text-twitter:focus,
a.text-twitter:hover {
    color: #0073a5 !important
}

.bg-linkedin {
    background-color: #006db3 !important
}

a.bg-linkedin:focus,
a.bg-linkedin:hover,
button.bg-linkedin:focus,

.switcher-control {
    margin-bottom: 0;
    position: relative;
    vertical-align: middle;
    font-weight: 700;
    font-size: .625rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 2.125rem
}

.switcher-control .switcher-indicator {
    height: 1rem;
    line-height: 1rem;
    border-radius: 1rem
}

.switcher-control .switcher-indicator:before {
    right: 1.1875rem;
    width: 1rem;
    border-radius: 1rem
}

.switcher-control .switcher-label-off,
.switcher-control .switcher-label-on {
    width: calc(100% - .75rem);
    line-height: 1rem
}

.switcher-control-lg {
    width: 3.1875rem
}

.switcher-control-lg .switcher-indicator {
    height: 1.5rem;
    line-height: 1.5rem;
    border-radius: 1.5rem
}

.switcher-control-lg .switcher-indicator:before {
    right: 1.71875rem;
    width: 1.5rem;
    border-radius: 1.5rem
}

.switcher-control-lg .switcher-label-off,
.switcher-control-lg .switcher-label-on {
    width: calc(100% - 1.25rem);
    line-height: 1.5rem
}

.switcher-input {
    position: absolute;
    height: 0;
    width: 0;
    z-index: -1;
    opacity: 0
}

.switcher-input:focus + .switcher-indicator {
    box-shadow: 0 .5rem 1rem rgba(20, 20, 31, .15)
}

.switcher-indicator {
    margin-bottom: 0;
    display: block;
    overflow: hidden;
    cursor: pointer;
    padding: 0;
    border: 2px solid #e6e8ed;
    background-color: #e6e8ed;
    transition: all .15s linear
}

.switcher-indicator:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    margin: 0;
    background: #fff;
    border: 2px solid #e6e8ed;
    transition: all .15s ease-in-out
}

.switcher-input:checked + .switcher-indicator,
.switcher-input:checked + .switcher-indicator:before {
    border-color: #346cb0
}

.switcher-input:checked + .switcher-indicator {
    background-color: #346cb0
}

.switcher-input:checked + .switcher-indicator:before {
    right: 0;
    box-shadow: none
}

.disabled > .switcher-input,
.switcher-input:disabled {
    pointer-events: none
}

.disabled > .switcher-input + .switcher-indicator,
.switcher-input:disabled + .switcher-indicator {
    opacity: .38;
    cursor: default
}

.switcher-label-off,
.switcher-label-on {
    position: absolute;
    top: 0;
    height: 100%;
    text-align: center
}

.switcher-label-on {
    display: none;
    left: 0;
    color: #fff
}

.switcher-input:checked ~ .switcher-label-on {
    display: block
}

.switcher-label-off {
    display: block;
    right: 0;
    color: #888c9b
}

.switcher-input:checked ~ .switcher-label-off {
    display: none
}

.switcher-control-success .switcher-input:checked + .switcher-indicator,
.switcher-control-success .switcher-input:checked + .switcher-indicator:before {
    border-color: #00a28a
}

.switcher-control-success .switcher-input:checked + .switcher-indicator {
    background-color: #00a28a
}

.switcher-control-success .switcher-label-on {
    color: #fff
}

.switcher-control-danger .switcher-input:checked + .switcher-indicator,
.switcher-control-danger .switcher-input:checked + .switcher-indicator:before {
    border-color: #b76ba3
}

.switcher-control-danger .switcher-input:checked + .switcher-indicator {
    background-color: #b76ba3
}

.switcher-control-danger .switcher-label-on {
    color: #fff
}

.user-avatar {
    position: relative;
    margin-bottom: 0;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    vertical-align: middle;
    border-radius: 4rem
}

.user-avatar-xxl {
    width: 8rem;
    height: 8rem;
    font-size: 8rem
}

.user-avatar-xl {
    width: 5rem;
    height: 5rem;
    font-size: 5rem
}

.user-avatar-lg {
    width: 3rem;
    height: 3rem;
    font-size: 3rem
}

.user-avatar-md {
    width: 2.25rem;
    height: 2.25rem;
    font-size: 2.25rem
}

.user-avatar-sm {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem
}

.user-avatar-xs {
    width: 1.25rem;
    height: 1.25rem;
    font-size: 1.25rem
}

.user-avatar.dropdown .dropdown-menu {
    min-width: 6rem
}

.user-avatar.dropdown.focus .avatar-badge > .oi:before,
.user-avatar.dropdown.show .avatar-badge > .oi:before,
.user-avatar.dropdown:focus .avatar-badge > .oi:before,
.user-avatar.dropdown:hover .avatar-badge > .oi:before {
    content: "\e02d"
}

.user-avatar.dropdown.focus .avatar-badge > .fa:before,
.user-avatar.dropdown.show .avatar-badge > .fa:before,
.user-avatar.dropdown:focus .avatar-badge > .fa:before,
.user-avatar.dropdown:hover .avatar-badge > .fa:before {
    content: "\f0d7"
}

.user-avatar.dropdown.focus .offline,
.user-avatar.dropdown.show .offline,
.user-avatar.dropdown:focus .offline,
.user-avatar.dropdown:hover .offline {
    color: #fff
}

.user-avatar > a {
    color: inherit;
    outline: 0
}

.user-avatar > a:focus,
.user-avatar > a:hover {
    color: inherit;
    text-decoration: none
}

.user-avatar audio,
.user-avatar canvas,
.user-avatar img,
.user-avatar video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4rem;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top
}

a.user-avatar:focus,
a.user-avatar:hover {
    outline: 0
}

a.user-avatar:focus {
    box-shadow: 0 0 0 3px #346cb0
}

.user-avatar-lg .avatar-badge {
    right: 5px
}

.user-avatar-sm .avatar-badge,
.user-avatar-xs .avatar-badge {
    right: -2px
}

.user-avatar-floated {
    margin-top: -50%;
    box-shadow: 0 0 0 2px #fff;
    z-index: 2
}

.user-avatar-floated.user-avatar-xl {
    box-shadow: 0 0 0 3px #fff
}

.user-avatar-floated.user-avatar-xxl {
    box-shadow: 0 0 0 4px #fff
}

.avatar-group {
    display: inline-block
}

.avatar-group .user-avatar {
    box-shadow: 0 0 0 2px #fff
}

.avatar-group .user-avatar:focus,
.avatar-group .user-avatar:hover {
    z-index: 2
}

.avatar-group .user-avatar + .user-avatar {
    display: inline-block;
    margin-left: -.5em
}

.avatar-group-animated .user-avatar:first-child {
    -webkit-animation: avatarAnimatedStart 1s;
    animation: avatarAnimatedStart 1s
}

.avatar-group-animated .user-avatar:nth-child(2) {
    -webkit-animation: avatarAnimated .75s;
    animation: avatarAnimated .75s
}

.avatar-group-animated .user-avatar:nth-child(3) {
    -webkit-animation: avatarAnimated 1s;
    animation: avatarAnimated 1s
}

.avatar-group-animated .user-avatar:nth-child(4) {
    -webkit-animation: avatarAnimated 1.25s;
    animation: avatarAnimated 1.25s
}

.avatar-group-animated .user-avatar:nth-child(5) {
    -webkit-animation: avatarAnimated 1.5s;
    animation: avatarAnimated 1.5s
}

.avatar-group-animated .tile {
    -webkit-animation: avatarAnimatedEnd 1.5s;
    animation: avatarAnimatedEnd 1.5s
}

@-webkit-keyframes avatarAnimatedStart {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes avatarAnimatedStart {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes avatarAnimated {
    0% {
        opacity: 0;
        transform: translateX(-100%)
    }

    25% {
        opacity: 0;
        transform: translateX(-75%)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes avatarAnimated {
    0% {
        opacity: 0;
        transform: translateX(-100%)
    }

    25% {
        opacity: 0;
        transform: translateX(-75%)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

@-webkit-keyframes avatarAnimatedEnd {
    0% {
        opacity: 0;
        transform: translateX(100%)
    }

    25% {
        opacity: 0;
        transform: translateX(75%)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes avatarAnimatedEnd {
    0% {
        opacity: 0;
        transform: translateX(100%)
    }

    25% {
        opacity: 0;
        transform: translateX(75%)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

.avatar-badge {
    position: absolute;
    right: 1px;
    bottom: 0;
    display: block;
    width: 8px;
    height: 8px;
    line-height: 1;
    text-align: center;
    font-size: 8px;
    color: #fff;
    background-color: #a6abbd;
    border-radius: 8px;
    box-shadow: 0 0 0 2px #fff;
    z-index: 2
}

.avatar-badge.has-indicator {
    width: 10px;
    height: 10px
}

.avatar-badge.online {
    background-color: #00a28a
}

.avatar-badge.idle {
    background-color: #ec935e
}

.avatar-badge.busy {
    background-color: #ea6759
}

.avatar-badge.offline {
    color: #a6abbd;
    background-color: #a6abbd
}

.avatar-badge .fa {
    line-height: 10px
}







