﻿@inherits LayoutComponentBase
    
    <!-- h-screen flex flex-col -->
    <!--div class="flex flex-col"-->
        <NavMenu IsSticky="true" />
        <!--div class="overflow-y-auto"-->
        <main>
            @Body
        </main>
        <!--/div-->
    <!--/div-->
