﻿<div class="mt-16">
    <div class="d-md-flex align-items-center justify-content-md-between">
        <div class="d-flex">
            <div class="text-center text-base leading-6 text-gray-400">&copy; 2016–2020 Ondřej Mirtes</div>
        </div>
        <div class="d-flex">
            <a href="https://twitter.com/phpstan" class="ml-6 text-gray-400 hover:text-gray-500">
                <span class="sr-only">Facebook</span>
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://phpstan.org/rss.xml" class="ml-3 text-gray-400 hover:text-gray-500">
                <span class="sr-only">RSS</span>
                <i class="fas fa-rss"></i>
            </a>
        </div>

    </div>
</div>