﻿<footer class="container">
    <hr class="my-0">

    <div class="mg-y-50">
        <div class="row align-items-md-center mb-7">
            <div class="col-md-6 mb-4 mb-md-0">
                <!-- Nav Link -->
                <ul class="nav nav-sm nav-x-0 align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Privacy &amp; Policy</a>
                    </li>
                    <li class="nav-item opacity mx-3">/</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Terms</a>
                    </li>
                    <li class="nav-item opacity mx-3">/</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Site Map</a>
                    </li>
                </ul>
                <!-- End Nav Link -->
            </div>

            <div class="col-md-6 text-md-right">
                <ul class="list-inline mb-0">
                    <!-- Social Networks -->
                    <li class="list-inline-item">
                        <a class="btn btn-xs btn-icon btn-secondary" href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-xs btn-icon btn-secondary" href="#">
                            <i class="fab fa-google"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-xs btn-icon btn-secondary" href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-xs btn-icon btn-secondary" href="#">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <!-- End Social Networks -->
                    <!-- Language -->
                    <li class="list-inline-item">
                        <div class="hs-unfold">
                            <a class="dropdown-toggle btn" href="javascript:;">
                                <img class="dropdown-item-icon mx-wd-20" src="/images/svg/us.svg" alt="United States Flag">
                                <span>United States</span>
                            </a>
                        </div>
                    </li>
                    <!-- End Language -->
                </ul>
            </div>
        </div>
    </div>
</footer>