﻿<header class="header pos-fixed z-index-10 t-0 wd-100p">
    <div class="header-section shadow-base">
        <nav class="navbar navbar-expand-lg navbar-light bg-white pd-0">
            <div class="container">
                <div class="d-flex align-items-center">
                    <a class="navbar-brand navbar-brand-font" href="/">
                        vone +
                    </a>
                    <a href="changelog.html">
                        <span class="badge badge-soft-primary ml-2">v1.0</span>
                    </a>
                </div>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Nav Links -->
                <ul class="nav nav-classic nav-sm border-0 ml-5 mr-auto">
                    <li class="nav-item">
                        <NavLink class="nav-link d-flex align-items-center px-2 px-sm-3" href="/" Match="NavLinkMatch.All">
                            Home
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link d-flex align-items-center px-2 px-sm-3" href="/about/">
                            About
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link d-flex align-items-center px-2 px-sm-3" href="/concept/">
                            Concept
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link d-flex align-items-center px-2 px-sm-3" href="/advantage/">
                            Advantage
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link d-flex align-items-center px-2 px-sm-3" href="/relationship/">
                            Relationship
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link d-flex align-items-center px-2 px-sm-3" href="/blogs/">
                            Blogs
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link d-flex align-items-center px-2 px-sm-3" href="/privacy/">
                            Privacy
                        </NavLink>
                    </li>
                </ul>
                <div class="navbar-right">
                    <NavLink class="btn btn-outline-success mr-2" href="/auth/login/">Login</NavLink>
                    <NavLink class="btn btn-success" href="/auth/register/">Register</NavLink>
                </div>
                <!--div class="navbar-collapse collapse" id="navbarsExample09" style="">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown09">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-md-0">
                        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                    </form>
                </div-->
            </div>
        </nav>
    </div>
</header>
<!--header class="header pos-fixed z-index-10">
    <div class="header-section shadow-base">
        <div id="logoAndNav" class="container">
            <nav class="navbar d-block d-md-flex justify-content-start pd-0">
                <div class="d-flex align-items-center">
                    <a class="navbar-brand navbar-brand-font" href="/">
                        vone +
                    </a>
                    <a href="changelog.html">
                        <span class="badge badge-soft-primary ml-2">v1.0</span>
                    </a>
                </div>
                <ul class="nav nav-classic nav-sm border-0 ml-5 mr-auto">
                    <li class="nav-item">
                        <NavLink class="nav-link d-flex align-items-center px-2 px-sm-3" href="/" Match="NavLinkMatch.All">
                            <span class="d-none d-sm-block">Home</span>
                            <span class="d-sm-none">Docs</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link d-flex align-items-center px-2 px-sm-3" href="/about/">
                            About
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link d-flex align-items-center px-2 px-sm-3" href="/concept/">
                            Concept
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link d-flex align-items-center px-2 px-sm-3" href="/advantage/">
                            Advantage
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link d-flex align-items-center px-2 px-sm-3" href="/relationship/">
                            Relationship
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link d-flex align-items-center px-2 px-sm-3" href="/blogs/">
                            Blogs
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link d-flex align-items-center px-2 px-sm-3" href="/privacy/">
                            Privacy
                        </NavLink>
                    </li>
                </ul>
                <div class="navbar-right">
                    <NavLink class="btn btn-outline-success mr-2" href="/auth/login/">Login</NavLink>
                    <NavLink class="btn btn-success" href="/auth/register/">Register</NavLink>
                </div>
            </nav>
        </div>
    </div>
</header-->
@if (IsSticky)
{
    <div class="hidden-xs-down wd-100p bg-white mg-t-54 z-index-10 bd-b bd-gray-200 pos-fixed">
        <div class="container">
            <div class="menu-bar ht-40">
                <!--a href="#" class="btn-link toggle-sidebar d-lg-none pg pg-close">
                     for mobile device
                </a-->
                <ul>
                    <li class="active">
                        <a href="/app/home/">Feeds</a>
                    </li>
                    <li>
                        <a href="/app/dashboard/">Dashboard</a>
                    </li>
                    <Vone.Web.Shared.Dropdown.SubMenuDropdown>
                        <InitialTip>Edit Profile</InitialTip>
                        <ChildContent>
                            <Vone.Web.Shared.Dropdown.SubMenuDropdownListItem LinkValue="/account/edit/information/" ItemValue="Edit informations" />
                            <Vone.Web.Shared.Dropdown.SubMenuDropdownListItem LinkValue="/account/edit/password/" ItemValue="Edit password" />
                            <Vone.Web.Shared.Dropdown.SubMenuDropdownListItem LinkValue="/account/edit/two_factor-authentication/" ItemValue="Two Factor authentication" />
                            <Vone.Web.Shared.Dropdown.SubMenuDropdownListItem LinkValue="/account/edit/role/" ItemValue="Edit role" />
                            <Vone.Web.Shared.Dropdown.SubMenuDropdownListItem LinkValue="/account/edit/language/" ItemValue="Edit Language" />
                            <Vone.Web.Shared.Dropdown.SubMenuDropdownListItem LinkValue="/account/edit/notification/" ItemValue="Edit notification" />
                            <Vone.Web.Shared.Dropdown.SubMenuDropdownListItem LinkValue="/account/edit/billing/" ItemValue="Edit Billing" />
                        </ChildContent>
                    </Vone.Web.Shared.Dropdown.SubMenuDropdown>
                    <Vone.Web.Shared.Dropdown.SubMenuDropdown>
                        <InitialTip>Renting proposal</InitialTip>
                        <ChildContent>
                            <Vone.Web.Shared.Dropdown.SubMenuDropdownListItem LinkValue="/rent/new/" ItemValue="Create new renting proposal" />
                            <Vone.Web.Shared.Dropdown.SubMenuDropdownListItem LinkValue="/rent/list/" ItemValue="Listing of renting proposal" />
                        </ChildContent>
                    </Vone.Web.Shared.Dropdown.SubMenuDropdown>
                    <Vone.Web.Shared.Dropdown.SubMenuDropdown>
                        <InitialTip>Buying proposal</InitialTip>
                        <ChildContent>
                            <Vone.Web.Shared.Dropdown.SubMenuDropdownListItem LinkValue="/buy/new/" ItemValue="Create new buying proposal" />
                            <Vone.Web.Shared.Dropdown.SubMenuDropdownListItem LinkValue="/buy/list/" ItemValue="My buying proposal" />
                        </ChildContent>
                    </Vone.Web.Shared.Dropdown.SubMenuDropdown>
                    <Vone.Web.Shared.Dropdown.SubMenuDropdown>
                        <InitialTip>Property</InitialTip>
                        <ChildContent>
                            <Vone.Web.Shared.Dropdown.SubMenuDropdownListItem LinkValue="/property/new/" ItemValue="Create new property" />
                            <Vone.Web.Shared.Dropdown.SubMenuDropdownListItem LinkValue="/property/list/" ItemValue="My properties" />
                        </ChildContent>
                    </Vone.Web.Shared.Dropdown.SubMenuDropdown>
                    <Vone.Web.Shared.Dropdown.SubMenuDropdown>
                        <InitialTip>Selling profile</InitialTip>
                        <ChildContent>
                            <Vone.Web.Shared.Dropdown.SubMenuDropdownListItem LinkValue="/sell/new/" ItemValue="Create new selling profile" />
                            <Vone.Web.Shared.Dropdown.SubMenuDropdownListItem LinkValue="/sell/list/" ItemValue="My selling profile" />
                        </ChildContent>
                    </Vone.Web.Shared.Dropdown.SubMenuDropdown>
                    <Vone.Web.Shared.Dropdown.SubMenuDropdown>
                        <InitialTip>Lessor profile</InitialTip>
                        <ChildContent>
                            <Vone.Web.Shared.Dropdown.SubMenuDropdownListItem LinkValue="/lease/new/" ItemValue="Create new leasing profile" />
                            <Vone.Web.Shared.Dropdown.SubMenuDropdownListItem LinkValue="/lease/list/" ItemValue="My leasing profile" />
                        </ChildContent>
                    </Vone.Web.Shared.Dropdown.SubMenuDropdown>
                    <Vone.Web.Shared.Dropdown.SubMenuDropdown>
                        <InitialTip>Manage blogs</InitialTip>
                        <ChildContent>
                            <Vone.Web.Shared.Dropdown.SubMenuDropdownListItem LinkValue="/blog/new/" ItemValue="Create a new blog" />
                            <Vone.Web.Shared.Dropdown.SubMenuDropdownListItem LinkValue="/blog/list/" ItemValue="My blogs" />
                        </ChildContent>
                    </Vone.Web.Shared.Dropdown.SubMenuDropdown>
                </ul>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public bool IsSticky { get; set; } = false;

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "show" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
