﻿@page "/advantage"

<section class="mg-md-t-70">
    <!-- .container -->
    <div class="container">
        <!-- .row -->
        <div class="row align-items-center">
            <!-- .col-md-6 -->
            <div class="col-12 col-md-6 order-md-2">
                <img class="img-fluid mb-4 mb-md-0" src="https://uselooper.com/assets/images/illustration/testimony.svg" alt="">
            </div><!-- /.col-md-6 -->
            <!-- .col-md-6 -->
            <div class="col-12 col-md-6 order-md-1 text-center text-sm-left">
                <h1 class="mb-4">You will improve your <strong>response, reactivity and time</strong> </h1>
                <p class="lead text-muted mb-4"> will get accurate request in demand and response from seller /lessor. The same way for properties matching you needs </p>
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<section class="pt-5">
    <!-- .container -->
    <div class="container position-relative">
        <h2 class="text-center text-sm-left"> Get more benefits </h2>
        <p class="lead text-muted text-center text-sm-left mb-5"> Scaffold your theme and start developing quickly. </p><!-- .card-deck -->
        <div class="card-deck-lg">
            <!-- .card -->
            <div class="card shadow aos-init aos-animate" data-aos="fade-up" data-aos-delay="0">
                <!-- .card-body -->
                <div class="card-body p-4">
                    <div class="d-sm-flex align-items-start text-center text-sm-left">
                        <img src="https://uselooper.com/assets/images/illustration/rocket.svg" class="mr-sm-4 mb-3 mb-sm-0" alt="" width="72">
                        <div class="flex-fill">
                            <h5 class="mt-0"> Ready-to-go </h5>
                            <p class="text-muted font-size-lg"> Provides a tons of useful Components and Pages that allow you to focus on your application logic rather than re-touching pixels. </p>
                        </div>
                    </div>
                </div><!-- /.card-body -->
            </div><!-- /.card -->
            <!-- .card -->
            <div class="card shadow aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <!-- .card-body -->
                <div class="card-body p-4">
                    <div class="d-sm-flex align-items-start text-center text-sm-left">
                        <img src="https://uselooper.com/assets/images/illustration/setting.svg" class="mr-sm-4 mb-3 mb-sm-0" alt="" width="72">
                        <div class="flex-fill">
                            <h5 class="mt-0"> Highly functionality </h5>
                            <p class="text-muted font-size-lg"> Looper is not 1001 in 1 shit theme, there's not an obscene amount of wasted space, and we are carefully in adding useful features without going overboard. </p>
                        </div>
                    </div>
                </div><!-- /.card-body -->
            </div><!-- /.card -->
        </div><!-- /.card-deck -->
        <!-- .card-deck -->
        <div class="card-deck-lg">
            <!-- .card -->
            <div class="card shadow aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <!-- .card-body -->
                <div class="card-body p-4">
                    <div class="d-sm-flex align-items-start text-center text-sm-left">
                        <img src="https://uselooper.com/assets/images/illustration/brain.svg" class="mr-sm-4 mb-3 mb-sm-0" alt="" width="72">
                        <div class="flex-fill">
                            <h5 class="mt-0"> Boost your creativity </h5>
                            <p class="text-muted font-size-lg"> The design is clean, simple, modern, and essential, with Lots of refined graphics and tons of 3rd party support. </p>
                        </div>
                    </div>
                </div><!-- /.card-body -->
            </div><!-- /.card -->
            <!-- .card -->
            <div class="card shadow aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                <!-- .card-body -->
                <div class="card-body p-4">
                    <div class="d-sm-flex align-items-start text-center text-sm-left">
                        <img src="https://uselooper.com/assets/images/illustration/horse.svg" class="mr-sm-4 mb-3 mb-sm-0" alt="" width="72">
                        <div class="flex-fill">
                            <h5 class="mt-0"> Simple workflow </h5>
                            <p class="text-muted font-size-lg"> We make sure you can make a magic by running just two command. It was very easy, extremely powerful, and modern. </p>
                        </div>
                    </div>
                </div><!-- /.card-body -->
            </div><!-- /.card -->
        </div><!-- /.card-deck -->
        <!-- .card-deck -->
        <div class="card-deck-lg">
            <!-- .card -->
            <div class="card shadow aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
                <!-- .card-body -->
                <div class="card-body p-4">
                    <div class="d-sm-flex align-items-start text-center text-sm-left">
                        <img src="https://uselooper.com/assets/images/illustration/savings.svg" class="mr-sm-4 mb-3 mb-sm-0" alt="" width="72">
                        <div class="flex-fill">
                            <h5 class="mt-0"> One time payment </h5>
                            <p class="text-muted font-size-lg"> After you make a purchase you will get a free update forever. We will make Looper better and better again for you. </p>
                        </div>
                    </div>
                </div><!-- /.card-body -->
            </div><!-- /.card -->
            <!-- .card -->
            <div class="card shadow aos-init aos-animate" data-aos="fade-up" data-aos-delay="500">
                <!-- .card-body -->
                <div class="card-body p-4">
                    <div class="d-sm-flex align-items-start text-center text-sm-left">
                        <img src="https://uselooper.com/assets/images/illustration/document.svg" class="mr-sm-4 mb-3 mb-sm-0" alt="" width="72">
                        <div class="flex-fill">
                            <h5 class="mt-0"> Well Documented </h5>
                            <p class="text-muted font-size-lg"> Each component is well explained with example, code block and best practices. We also provide extensive information about customizing Looper. </p>
                        </div>
                    </div>
                </div><!-- /.card-body -->
            </div><!-- /.card -->
        </div><!-- /.card-deck -->
    </div><!-- /.container -->
</section>
<section class="pt-5 py-md-11">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-md-5 order-md-2">

                <!-- Badge -->
                <span class="badge badge-success-soft badge-pill mb-3">
                    <span class="h6 text-uppercase">
                        Benefits
                    </span>
                </span>

                <!-- Heading -->
                <h2>
                    We'll take of you with <br>
                    <span class="text-success">a great benefits package</span>.
                </h2>

                <!-- Text -->
                <p class="font-size-lg text-muted mb-6 mb-md-0">
                    We put our money where our mouthes are. Once you're part of our team, we're going to take the best possible care of you with tons of benefits and perks unavailable anywhere else.
                </p>

            </div>
            <div class="col-12 col-md-6 order-md-1">

                <!-- Card -->
                <div class="card card-border border-success shadow-lg">
                    <div class="card-body">

                        <!-- List group -->
                        <div class="list-group list-group-flush">
                            <div class="list-group-item d-flex align-items-center">

                                <!-- Text -->
                                <div class="mr-auto">

                                    <!-- Heading -->
                                    <p class="font-weight-bold mb-1">
                                        Comprehensive benefits
                                    </p>

                                    <!-- Text -->
                                    <p class="font-size-sm text-muted mb-0">
                                        Health, dental, vision, 401k, and more.
                                    </p>

                                </div>

                                <!-- Check -->
                                <div class="badge badge-rounded-circle badge-success-soft ml-4">
                                    <i class="fe fe-check"></i>
                                </div>

                            </div>
                            <div class="list-group-item d-flex align-items-center">

                                <!-- Text -->
                                <div class="mr-auto">

                                    <!-- Heading -->
                                    <p class="font-weight-bold mb-1">
                                        Unlimited time off
                                    </p>

                                    <!-- Text -->
                                    <p class="font-size-sm text-muted mb-0">
                                        Vacation on your own terms.
                                    </p>

                                </div>

                                <!-- Check -->
                                <div class="badge badge-rounded-circle badge-success-soft ml-4">
                                    <i class="fe fe-check"></i>
                                </div>

                            </div>
                            <div class="list-group-item d-flex align-items-center">

                                <!-- Text -->
                                <div class="mr-auto">

                                    <!-- Heading -->
                                    <p class="font-weight-bold mb-1">
                                        Cutting edge hardware
                                    </p>

                                    <!-- Text -->
                                    <p class="font-size-sm text-muted mb-0">
                                        We provide brand new computers and phones.
                                    </p>

                                </div>

                                <!-- Check -->
                                <div class="badge badge-rounded-circle badge-success-soft ml-4">
                                    <i class="fe fe-check"></i>
                                </div>

                            </div>
                            <div class="list-group-item d-flex align-items-center">

                                <!-- Text -->
                                <div class="mr-auto">

                                    <!-- Heading -->
                                    <p class="font-weight-bold mb-1">
                                        Moving assistance
                                    </p>

                                    <!-- Text -->
                                    <p class="font-size-sm text-muted mb-0">
                                        We will help you get here to work with us!
                                    </p>

                                </div>

                                <!-- Check -->
                                <div class="badge badge-rounded-circle badge-success-soft ml-4">
                                    <i class="fe fe-check"></i>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>
<section>
    <div class="container space-top-2 space-top-lg-3 space-bottom-lg-2">
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
            <span class="d-block small font-weight-bold text-cap mb-2">Always improving</span>
            <h2>Solutions rooted in code and design</h2>
        </div>
        <!-- End Title -->
        <!-- Step -->
        <ul class="step step-md step-centered">
            <li class="step-item">
                <div class="step-content-wrapper">
                    <span class="step-icon step-icon-soft-primary">1</span>
                    <div class="step-content">
                        <h3>Industry-leading designs</h3>
                        <p>Achieve virtually any design and layout from within the one template.</p>
                    </div>
                </div>
            </li>

            <li class="step-item">
                <div class="step-content-wrapper">
                    <span class="step-icon step-icon-soft-primary">2</span>
                    <div class="step-content">
                        <h3>Learn from the docs</h3>
                        <p>Whether you're a startup or a global enterprise, learn how to integrate with Front.</p>
                    </div>
                </div>
            </li>

            <li class="step-item">
                <div class="step-content-wrapper">
                    <span class="step-icon step-icon-soft-primary">3</span>
                    <div class="step-content">
                        <h3>Accelerate your business</h3>
                        <p>We help power millions of businesses to built and run smoothly.</p>
                    </div>
                </div>
            </li>
        </ul>
        <!-- End Step -->
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <!-- Article -->
            <article class="col-lg-6 mb-3 mb-sm-5 mb-lg-0">
                <a class="card align-items-end flex-wrap flex-row bg-img-hero text-white h-100 min-h-380rem transition-3d-hover aos-init aos-animate" href="#" style="background-image: url(https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/svg/components/graphics-6.svg);" data-aos="fade-up">
                    <div class="card-body">
                        <h2 class="text-white">Revolutionizing the way start-ups win new customers</h2>
                        <p>Automate best strategies and focus more on generating hq creatives.</p>
                        <span class="font-size-1 font-weight-bold">Learn More <i class="fas fa-angle-right fa-sm ml-1"></i></span>
                    </div>
                </a>
            </article>
            <!-- End Article -->
            <!-- Article -->
            <article class="col-sm-6 col-lg-3 mb-3 mb-sm-0">
                <a class="card align-items-end flex-wrap flex-row bg-img-hero text-white h-100 min-h-380rem transition-3d-hover aos-init aos-animate" href="#" style="background-image: url(https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/svg/components/graphics-7.svg);" data-aos="fade-up" data-aos-delay="100">
                    <div class="card-body">
                        <h3 class="text-white">How we helped building the industry of the future</h3>
                        <span class="font-size-1 font-weight-bold">Learn More <i class="fas fa-angle-right fa-sm ml-1"></i></span>
                    </div>
                </a>
            </article>
            <!-- End Article -->
            <!-- Article -->
            <article class="col-sm-6 col-lg-3">
                <a class="card align-items-end flex-wrap flex-row bg-img-hero text-white h-100 min-h-380rem transition-3d-hover aos-init aos-animate" href="#" style="background-image: url(https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/svg/components/graphics-4.svg);" data-aos="fade-up" data-aos-delay="150">
                    <div class="card-body">
                        <h3 class="text-white">How to save hundreds of thousands</h3>
                        <span class="font-size-1 font-weight-bold">Learn More <i class="fas fa-angle-right fa-sm ml-1"></i></span>
                    </div>
                </a>
            </article>
            <!-- End Article -->
        </div>
    </div>
</section>
<section>
    <div class="container space-2 space-lg-3">
        <div class="row align-items-lg-center">
            <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
                <div class="mb-5">
                    <h2 class="mb-3">Lightning-fast development with pre-built solutions</h2>
                    <p>Every team has a unique process for shipping software. Use an out-of-the-box workflow, or create one to match the way your team works.</p>
                </div>

                <!-- Info -->
                <div class="media pb-3">
                    <span class="icon icon-xs icon-soft-indigo icon-circle mr-3">
                        <i class="fas fa-check"></i>
                    </span>
                    <div class="media-body">
                        <p class="text-dark mb-0">Extensive API documentation</p>
                    </div>
                </div>
                <div class="media py-3">
                    <span class="icon icon-xs icon-soft-indigo icon-circle mr-3">
                        <i class="fas fa-check"></i>
                    </span>
                    <div class="media-body">
                        <p class="text-dark mb-0">Customizable &amp; open source</p>
                    </div>
                </div>
                <div class="media pt-3">
                    <span class="icon icon-xs icon-soft-indigo icon-circle mr-3">
                        <i class="fas fa-check"></i>
                    </span>
                    <div class="media-body">
                        <p class="text-dark mb-0">Continiously improved</p>
                    </div>
                </div>
                <!-- End Info -->
            </div>

            <div class="col-lg-7 order-lg-1">
                <!-- Card Block -->
                <div class="pr-lg-4 aos-init aos-animate" data-aos="fade-up">
                    <div class="card shadow-none bg-soft-primary text-indigo text-center w-lg-75 overflow-hidden pt-9 px-5 mx-lg-auto">
                        <div class="px-5 mb-5">
                            <h3>Choose a workflow, or make your own with Front Software</h3>
                        </div>

                        <!-- Device Mockup -->
                        <div class="device device-half-iphone-x w-85 mx-auto">
                            <img class="device-half-iphone-x-frame" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/svg/components/half-iphone-x.svg" alt="Image Description">
                            <img class="device-half-iphone-x-screen" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/img/407x472/img7.jpg" alt="Image Description">
                        </div>
                        <!-- End Device Mockup -->
                    </div>
                </div>
                <!-- End Card Block -->
            </div>
        </div>
    </div>
</section>
<section>
    <div class="position-relative bg-primary overflow-hidden">
        <div class="container space-top-2 space-top-lg-3 position-relative z-index-2">
            <!-- Title -->
            <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
                <h2 class="text-white">Go Front with ease.</h2>
                <p class="text-white-70">Whether you’re a seasoned agile expert, or just getting started, Jira Software unlocks the power of agile.</p>
            </div>
            <!-- End Title -->
            <!-- Icon Blocks -->
            <div class="w-lg-80 mx-lg-auto mb-11">
                <div class="row mb-9">
                    <div class="col-6 col-md-4 mb-7">
                        <!-- Icon Block -->
                        <span class="d-block text-white font-size-2 mb-3">
                            <i class="fas fa-align-center"></i>
                        </span>
                        <h4 class="text-white mb-3">Flexible planning</h4>
                        <p class="text-white-70">Front Software's rich planning features enable your team to flexibly plan.</p>
                        <!-- End Icon Block -->
                    </div>

                    <div class="col-6 col-md-4 mb-7">
                        <!-- Icon Block -->
                        <span class="d-block text-white font-size-2 mb-3">
                            <i class="fas fa-code-branch"></i>
                        </span>
                        <h4 class="text-white mb-3">Accurate estimations</h4>
                        <p class="text-white-70">Use story points, hours, t-shirt sizes, or your own estimation technique.</p>
                        <!-- End Icon Block -->
                    </div>

                    <div class="col-6 col-md-4 mb-7">
                        <!-- Icon Block -->
                        <span class="d-block text-white font-size-2 mb-3">
                            <i class="fas fa-shapes"></i>
                        </span>
                        <h4 class="text-white mb-3">Value-driven prioritization</h4>
                        <p class="text-white-70">Order user stories, issues, and bugs in your product backlog with simple dragging.</p>
                        <!-- End Icon Block -->
                    </div>

                    <div class="col-6 col-md-4 mb-7 mb-md-0">
                        <!-- Icon Block -->
                        <span class="d-block text-white font-size-2 mb-3">
                            <i class="fas fa-clone"></i>
                        </span>
                        <h4 class="text-white mb-3">Transparent execution</h4>
                        <p class="text-white-70">Front Software brings a new level of transparency to your team's work.</p>
                        <!-- End Icon Block -->
                    </div>

                    <div class="col-6 col-md-4">
                        <!-- Icon Block -->
                        <span class="d-block text-white font-size-2 mb-3">
                            <i class="fas fa-check-circle"></i>
                        </span>
                        <h4 class="text-white mb-3">Actionable results</h4>
                        <p class="text-white-70">Extensive reporting functionality gives your team critical insight into their agile process.</p>
                        <!-- End Icon Block -->
                    </div>

                    <div class="col-6 col-md-4">
                        <!-- Icon Block -->
                        <span class="d-block text-white font-size-2 mb-3">
                            <i class="fas fa-compress"></i>
                        </span>
                        <h4 class="text-white mb-3">Scalable evolution <span class="badge badge-warning badge-pill ml-1">Coming soon</span></h4>
                        <p class="text-white-70">Front Software is agile project management designed for any teams.</p>
                        <!-- End Icon Block -->
                    </div>
                </div>

                <!-- Buttons -->
                <div class="text-center">
                    <div class="mb-3">
                        <a class="btn btn-sm btn-light btn-wide transition-3d-hover" href="#">Sign up and Start Building</a>
                        <small class="d-block d-sm-inline-block text-white-70 my-3 my-sm-0 mx-sm-3">or</small>
                        <a class="btn btn-sm btn-indigo btn-wide transition-3d-hover" href="#">Talk to our Experts</a>
                    </div>
                    <p class="small text-white-70">Start free trial. * No credit card required.</p>
                </div>
                <!-- End Buttons -->
            </div>
            <!-- End Icon Blocks -->
        </div>

        <!-- SVG Background Shape -->
        <figure class="w-35 position-absolute top-0 right-0">
            <div class="mt-n11 mr-n11">
                <img class="img-fluid" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/svg/components/half-circle-3.svg" alt="Image Description">
            </div>
        </figure>
        <figure class="w-25 position-absolute bottom-0 left-0">
            <div class="mb-n11 ml-n11">
                <img class="img-fluid" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/svg/components/half-circle-2.svg" alt="Image Description">
            </div>
        </figure>
        <!-- End SVG Background Shape -->
    </div>
</section>
<MainFooter />