﻿@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@800;900&display=swap');

// <Button>
@import "Extend/Bootstrap";
// </Button>

// <SeparatorForm>
@import "Extend/dashforge.css";
// </SeparatorForm>

// <Blog>
// @import "Extend/meranda.css";
// </Blog>

// <SeparatorForm>
@import "Extend/dashforge.dashboard.css";
// </SeparatorForm>

// <SeparatorForm>
@import "Extend/dashforge.auth.css";
// </SeparatorForm>

// <TinySlider>
@import "Extend/frontend.all.min.css";
// </SeparatorForm>

// <BlazoredModal>
// @import "Extend/BlazoredModal.css";
// </BlazoredModal>

// <TinySlider>
// @import "Extend/TinySlider.css";
// </SeparatorForm>

// <Property>
// @import "Extend/potenzaglobalsolutions.css";
// </SeparatorForm>

// <SeparatorForm>
// @import "Extend/Stripe.css";
// </SeparatorForm>

// <SeparatorForm>
@import "Extend/DropDownAccount";
// </SeparatorForm>

// </SeparatorForm>
// @import "Extend/ModalStyles.css";
// </SeparatorForm>

// <SeparatorForm>
// a checker????
// @import "Extend/DropDownAccount2";
// </SeparatorForm>

// </SeparatorForm>
// @import"Extend/ThemeMin";
// </SeparatorForm>

// <Loading>
@import "Extend/Loading";
// </Loading>

// <MenuBar>
@import "Extend/MenuBar";
// </MenuBar>

// <Utilities>
@import "Extend/Utilities";
// </Utilities>

// <Utilities>
@import "Extend/Utilities_old";
// </Utilities>

// <Breadcrumbs>
// @import "Extend/Breadcrumbs";
// </Breadcrumbs>

// <Breadcrumbs>
// @import "Extend/BlogDetails";
// </Breadcrumbs>

// <FloatingLabels>
// @import "Extend/FloatingLabels";
// </FloatingLabels>

// <FormError>
@import "Extend/FormError";
// </FormError>

// <Button>
@import "Extend/Button";
// </Button>

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}


.form-label-group > .icons {
    position: absolute;
    top: 13px;
    right: 8px;
    font-size: 15px;
    color: #777777;
}

.form-group > .icons {
    position: absolute;
    top: 36px;
    right: 15px;
    font-size: 15px;
    color: #777777;
}

@media only screen and (min-width: 1260px) {
    .description_tooltip {
        width: 17em;
        position: absolute;
        top: 0;
        right: 100%;
        margin-right: 24px;
        padding: 20px 20px;
        font-size: 15px;
        font-weight: 300;
        line-height: 25px;
        color: #919191;
        background: white;
        border: 1px solid rgba(0, 0, 0, 0.075);
        margin-top: -1px;
        border-radius: 4px;
        opacity: 1;
        text-align: center;
    }

    .description_tooltip:after {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        border: 1px solid transparent;
        background: white;
        border-top-color: rgba(0, 0, 0, 0.075);
        border-right-color: rgba(0, 0, 0, 0.075);
        position: absolute;
        top: 16px;
        right: -9px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .description_tooltip.left {
        top: -45px;
    }

    .description_tooltip.right {
        right: auto;
        margin-right: 0;
        left: 100%;
        margin-left: 24px;
    }

    .description_tooltip.right:after {
        border-right-color: transparent;
        border-left-color: rgba(0, 0, 0, 0.075);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        right: auto;
        left: -9px;
    }
}
.visual-picker {
    position: relative;
    display: inline-block;
    margin-bottom: 1rem
}

.visual-picker-sm .visual-picker-figure {
    width: 4rem;
    height: 4rem
}

.visual-picker-sm .visual-picker-figure:after {
    content: ""
}

.visual-picker-lg .visual-picker-figure {
    width: 12rem;
    height: 12rem
}

.visual-picker-lg .visual-picker-figure:after {
    top: 1rem;
    right: 1rem;
    font-size: 1.25rem
}

.visual-picker-fluid,
.visual-picker-fluid .visual-picker-figure {
    width: 100%
}

.visual-picker.has-peek {
    padding-bottom: 1.5rem
}

.visual-picker.has-peek .visual-picker-figure {
    margin-bottom: .5em
}

.visual-picker:focus .visual-picker-figure,
.visual-picker:hover .visual-picker-figure {
    box-shadow: inset 0 0 0 2px #346cb0, 0 0 0 1px rgba(20, 20, 31, .05), 0 1px 3px 0 rgba(20, 20, 31, .15)
}

.visual-picker input[type=checkbox],
.visual-picker input[type=radio] {
    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute
}

.visual-picker input[type=checkbox]:checked ~ .visual-picker-figure,
.visual-picker input[type=radio]:checked ~ .visual-picker-figure {
    box-shadow: inset 0 0 0 2px #346cb0, 0 0 0 1px rgba(20, 20, 31, .05), 0 1px 3px 0 rgba(20, 20, 31, .15)
}

.visual-picker input[type=checkbox]:checked ~ .visual-picker-figure:after,
.visual-picker input[type=radio]:checked ~ .visual-picker-figure:after {
    opacity: 1
}

.visual-picker input[type=checkbox]:focus ~ .visual-picker-figure,
.visual-picker input[type=radio]:focus ~ .visual-picker-figure {
    box-shadow: inset 0 0 0 2px #346cb0, 0 0 0 1px rgba(20, 20, 31, .05), 0 1px 3px 0 rgba(20, 20, 31, .15)
}

.visual-picker-figure {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 8rem;
    color: #363642;
    background-color: #fff;
    border-radius: .25rem;
    cursor: pointer;
    box-shadow: 0 0 0 1px rgba(20, 20, 31, .05), 0 1px 3px 0 rgba(20, 20, 31, .15);
    transition: box-shadow .2s
}

.visual-picker-figure:after {
    font-family: Font Awesome\ 5 Free;
    content: "\f058";
    position: absolute;
    top: .5rem;
    right: .5rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-weight: 900;
    font-size: 1rem;
    font-variant: normal;
    color: #346cb0;
    text-rendering: auto;
    line-height: 1;
    opacity: 0;
    transition: opacity .2s
}

.visual-picker-content {
    display: block;
    padding: 0 .5rem;
    font-size: .75rem;
    text-align: center
}

.visual-picker-peek {
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

a.visual-picker {
    color: #363642
}

a.visual-picker:focus,
a.visual-picker:hover {
    outline: 0;
    color: #363642;
    text-decoration: none
}

/*
.card-deck-lg {
    display: block
}

@media (min-width:992px) {
    .card-deck-lg {
        display: flex;
        flex-flow: row wrap;
        margin-right: -10px;
        margin-left: -10px
    }

    .card-deck-lg .card {
        display: flex;
        flex: 1 0 0%;
        flex-direction: column;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 10px
    }
}*/

