﻿@page "/blogs/"

    <section class="mg-md-t-70">
        <div class="container">
            <div class="row">
                @for (var i = 1; i <= 6; i++)
                {
                    <a href="/blog" class="tx-decoration col-12 col-md-4 d-flex">
                        <div class="card mb-4">
                            <img class="card-img-top" src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/bologna-1.jpg" alt="Bologna">
                            <div class="card-img-overlay card-inverse">
                                <span class="badge badge-light">Primary</span>
                            </div>
                            <div class="card-body">
                                <div class="text-muted d-flex justify-content-between bg-transparent border-top-0 mb-2">
                                    <small class="cat">
                                        <i class="far fa-clock text-info"></i> 30 minutes
                                        <i class="fas fa-users text-info"></i> 4 portions
                                    </small>
                                    <small class="stats">
                                        <i class="far fa-eye"></i> 1347
                                        <i class="far fa-comment"></i> 12
                                    </small>
                                </div>
                                <h4 class="card-title">Pasta with Prosciutto</h4>



                                <!--h6 class="card-subtitle mb-2 text-muted">Emilia-Romagna Region, Italy</h6-->
                                <p class="card-text tx-gray-600">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="media">
                                        <div class="avatar avatar-xs avatar-circle mr-2">
                                            <img class="avatar-img" style="width:30px;" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/img/100x100/img1.jpg" alt="Image Description">
                                        </div>

                                        <div class="media-body">
                                            <small class="d-block">
                                                <span class="text-muted">Written by</span>
                                                <span class="text-dark">Luisa Woodfine</span>
                                            </small>
                                            <small class="d-block text-body">
                                                Updated over a week ago
                                            </small>
                                        </div>
                                    </div>
                                    <!--span href="#" class="card-link">Author</span-->
                                    <span href="#" class="card-link">B</span>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            </div>
            <div class="text-center">
                <a href="/blogs/" class="btn btn-primary" type="submit">Continue to checkout</a>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row mb-3">
            <div class="col-sm-6 col-lg-4 mb-3 mb-sm-8">
                <!-- Blog Card -->
                <article class="card h-100">
                    <div class="card-img-top position-relative">
                        <img class="card-img-top" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/img/500x280/img7.jpg" alt="Image Description">
                        <figure class="ie-curved-y position-absolute right-0 bottom-0 left-0 mb-n1">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1">
                                <path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z"></path>
                            </svg>
                        </figure>
                    </div>

                    <div class="card-body">
                        <h3><a class="text-inherit" href="single-article.html">Drone Company PrecisionHawk Names New CEO</a></h3>
                        <p>Drone company PrecisionHawk has survived 10 years in the industry.</p>
                    </div>

                    <div class="card-footer border-0 pt-0">
                        <div class="media align-items-center">
                            <div class="avatar-group">
                                <a class="avatar avatar-xs avatar-circle" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Aaron Larsson">
                                    <img class="avatar-img" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/img/100x100/img3.jpg" alt="Image Description">
                                </a>
                                <a class="avatar avatar-xs avatar-circle" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Hanna Wolfe">
                                    <img class="avatar-img" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/img/100x100/img11.jpg" alt="Image Description">
                                </a>
                            </div>
                            <div class="media-body d-flex justify-content-end text-muted font-size-1 ml-2">
                                July 15
                            </div>
                        </div>
                    </div>
                </article>
                <!-- End Blog Card -->
            </div>

            <div class="col-sm-6 col-lg-4 mb-3 mb-sm-8">
                <!-- Blog Card -->
                <article class="card h-100">
                    <div class="card-img-top position-relative">
                        <img class="card-img-top" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/img/500x280/img8.jpg" alt="Image Description">
                        <figure class="ie-curved-y position-absolute right-0 bottom-0 left-0 mb-n1">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1">
                                <path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z"></path>
                            </svg>
                        </figure>
                    </div>

                    <div class="card-body">
                        <h3><a class="text-inherit" href="single-article.html">Should Product Owners think like entrepreneurs?</a></h3>
                        <p>Front is a financial technology company. We build products. We do it fast and we do it well.</p>
                    </div>

                    <div class="card-footer border-0 pt-0">
                        <div class="media align-items-center">
                            <div class="avatar-group">
                                <a class="avatar avatar-xs avatar-circle" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Emily Milda">
                                    <img class="avatar-img" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/img/100x100/img2.jpg" alt="Image Description">
                                </a>
                                <a class="avatar avatar-xs avatar-circle" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="John O'nolan">
                                    <img class="avatar-img" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/img/100x100/img4.jpg" alt="Image Description">
                                </a>
                            </div>
                            <div class="media-body d-flex justify-content-end text-muted font-size-1 ml-2">
                                July 15
                            </div>
                        </div>
                    </div>
                </article>
                <!-- End Blog Card -->
            </div>

            <div class="col-sm-6 col-lg-4 mb-3 mb-sm-8">
                <!-- Blog Card -->
                <article class="card h-100">
                    <div class="card-img-top position-relative">
                        <img class="card-img-top" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/img/500x280/img2.jpg" alt="Image Description">
                        <figure class="ie-curved-y position-absolute right-0 bottom-0 left-0 mb-n1">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1">
                                <path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z"></path>
                            </svg>
                        </figure>
                    </div>

                    <div class="card-body">
                        <h3><a class="text-inherit" href="single-article.html">What is KYC and why do we need it</a></h3>
                        <p>You've read about our app, it came up on your news feed and your mate sent you an invite to sign up.</p>
                    </div>

                    <div class="card-footer border-0 pt-0">
                        <div class="media align-items-center">
                            <div class="avatar-group">
                                <a class="avatar avatar-xs avatar-circle" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Emily Milda">
                                    <img class="avatar-img" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/img/100x100/img2.jpg" alt="Image Description">
                                </a>
                            </div>
                            <div class="media-body d-flex justify-content-end text-muted font-size-1 ml-2">
                                July 15
                            </div>
                        </div>
                    </div>
                </article>
                <!-- End Blog Card -->
            </div>
        </div>
    </div>
    <MainFooter />
