﻿@layout DashBoardLayout
@page "/blog/new/"
@attribute [Authorize]

@inject HttpClient _http

<div class="container">
    <div class="flex">
        <div class="w-64 md:block hidden pr-4 bd-r fixed overflow-y-auto t-0 b-0 mt-16">
            <div class="pt-4">
                <span class="flex-grow py-2 tx-gray-900 tx-20">Edit your account </span>
                <a href="#" class="md:hidden text-gray-400 hover:text-gray-500">
                    <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </a>
            </div>
            <div class="nav flex-column nav-pills">
                <NavLink class="nav-link" href="/account/edit/information/">Informations</NavLink>
                <NavLink class="nav-link" href="/account/edit/password/">Password</NavLink>
                <NavLink class="nav-link" href="/account/edit/two_factor-authentication/">Two Factor</NavLink>
                <NavLink class="nav-link" href="/account/edit/role/">Role</NavLink>
                <NavLink class="nav-link" href="/account/edit/language/">Language</NavLink>
                <NavLink class="nav-link" href="/account/edit/notification/">Notification</NavLink>
                <NavLink class="nav-link" href="/account/edit/billing/">Billing</NavLink>
            </div>
        </div>
        <div class="content px-4 pb-8 pt-4 md:ml-64">
            <a href="#" class="text-sm text-gray-400 md:hidden no-underline hover:underline">Menu</a>
            <div class="pt-5">
                <div class="pt-2 section-block text-center text-sm-left">
                    
                </div><!-- /.section-block -->
            </div>
            <div class="mt-16">
                <div class="md:flex md:items-center md:justify-between">
                    <div class="flex justify-center md:order-2">
                        <a href="https://twitter.com/phpstan" class="ml-6 text-gray-400 hover:text-gray-500" target="_blank" rel="noopener noreferrer">
                            <span class="sr-only">Twitter</span>
                            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
                            </svg>
                        </a>
                        <a href="https://phpstan.org/rss.xml" class="ml-6 text-gray-400 hover:text-gray-500" target="_blank">
                            <span class="sr-only">RSS</span>
                            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M6.503 20.752A3.25 3.25 0 013.252 24 3.25 3.25 0 010 20.752a3.25 3.25 0 013.252-3.248 3.25 3.25 0 013.251 3.248zM0 8.18v4.811c6.05.062 10.96 4.966 11.022 11.009h4.817C15.777 15.29 8.721 8.242 0 8.18zm0-3.368C10.58 4.858 19.152 13.406 19.183 24H24C23.97 10.769 13.245.046 0 0v4.812z" />
                            </svg>
                        </a>
                    </div>
                    <div class="mt-8 md:mt-0 md:order-1 flex items-center justify-center">
                        <div class="text-center text-base leading-6 text-gray-400">&copy; 2016–2020 Ondřej Mirtes</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


